In [2]:
# import sys
import os
import pandas as pd
import time
import csv

pd.options.display.max_columns = None


#### cool from data-exploration.ipynb
# display(df.sample(10))
# display(df.nunique().sort_values())

In [38]:
DATA_PATH1 = 'C:/Users/Jim/Files/CFB/data/swdis/WATER_SYSTEM.csv' 

start_time = time.time()

DATA1 = pd.read_csv(DATA_PATH1, header=0, sep=',', error_bad_lines=False,
                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


# with open('C:/Users/Jim/Files/CFB/data/swdis/bad_lines.txt', 'w') as fp:
#     sys.stderr = fp
#     pd.read_csv('DATA_PATH1', sep=',', error_bad_lines=False, 
#                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


print(time.time() - start_time)

#compare length of rows by length of columns in df
lencols1 = len(DATA1.columns) + 1 #csv.reader counts 1 less for some reason
print(lencols1)

result1 = []
with open(DATA_PATH1) as csv_file:
    reader = csv.reader(csv_file, delimiter=',')
    for row in reader:
        if (len(row) > lencols1):
            print("Length of row is: %r" % len(row) )
            print(row)
            print(reader.line_num)
            result1.append(str(reader.line_num))

b'Skipping line 1178: expected 45 fields, saw 46\nSkipping line 51215: expected 45 fields, saw 47\nSkipping line 213529: expected 45 fields, saw 46\nSkipping line 249724: expected 45 fields, saw 47\nSkipping line 387519: expected 45 fields, saw 46\n'

5.663631916046143
45
Length of row is: 46
['P.O. Box 908', '', 'Robert Cita" Welch', ' Jr."', '', '', 'Alpine', 'US', '', '', '09', '6194455337', 'GW', 'Y', 'N', 'N', '', 'Viejas Group of Capitan Grand Band  Mission Indian', 'Y', '01-JAN-14', 'N', '', '6194453810', '9500', '5', '1', '2', '1', '3', '09', 'Tribal', 'GW', '090600158', 'A', '', 'Viejas Community System', 'CWS', '', '', '230', '', '', 'CA', 'Y', '91901', '']
1178
Length of row is: 47
['POST OFFICE BOX 59', '2003 CONSTITUTION AVENUE', 'WILLIAM J. JAY" RISH', ' JR."', '', '', 'PORT ST. JOE', 'US', '', '', '04', '', 'GW', 'N', 'N', 'N', '', 'WILLIAM J. JAY" RISH', ' JR."', '', '', 'P', '', '850-227-5569', '25', '1', '1', '1', '1', '1', 'FL', 'State', 'GW', 'FL1234018', 'I', '21-SEP-11', 'HOWARD CREEK TRAILER PARK', 'TNCWS', '01-01', '12-31', '39', '', '', 'FL', 'Y', '32457', '']
51215
Length of row is: 46
['PO BOX 975', '', 'LEDDY, MIKE', '', '', 'CASHIERS', 'US', '', 'MLEDDY2112@GMAIL.COM', '04', '', 'GW', 'Y', 'N', 'N', '', 'LEDDY, MIKE', '', '', 'P', '', '', '75', '1', '1', '1', '1', '1', 'NC', 'State', 'GW', 'NC0150419', 'A', '', '2MAC', ' LLC BUILDING""', 'TNCWS', '01-01', '12-31', '2', '', '', 'NC', 'Y', '28717', '']
213529
Length of row is: 47
['765 RT 10 E', '', 'BLDG B"', ' MEDICAL"', '', '', 'RANDOLPH TWP', 'US', '', '', '02', '', 'GW', 'N', 'N', 'N', '', 'BLDG B"', ' MEDICAL"', '', '', 'M', '', '973-366-6600', '35', '1', '1', '1', '1', '1', 'NJ', 'State', 'GW', 'NJ1432338', 'I', '07-APR-09', 'CENTER FOR MEDICINE @ RANDOLPH', 'TNCWS', '01-01', '12-31', '1', '', 'N', 'NJ', 'Y', '07869', '']
249724
Length of row is: 46
['112 North Main Street', '', 'Michael Mike" Olden', ' P.E."', '', '', 'Montesano', 'US', '', '', '10', '', 'GW', 'Y', 'N', 'Y', '', 'MONTESANO, CITY OF', '', '', 'L', '', '', '5228', '5', '1', '2', '1', '3', 'WA', 'State', 'GW', 'WA5356000', 'A', '', 'MONTESANO, CITY OF', 'CWS', '', '', '2121', '', '', 'WA', 'Y', '98563', '']
387519

In [39]:
print(result1) # maybe can read in just these lines as separate strings into a custom df

['1178', '51215', '213529', '249724', '387519']

In [61]:
print("rows lost =",len(result1), "out of", len(DATA1.index), 
      "(", 100*round(len(result1)/(len(DATA1.index)+len(result1)), 10),"%",")")

rows lost = 5 out of 421244 ( 0.00118695 % )

In [64]:
DATA1.head(5)

,ADDRESS_LINE1,ADDRESS_LINE2,ADMIN_NAME,ALT_PHONE_NUMBER,CDS_ID,CITY_NAME,COUNTRY_CODE,DBPR_SCHEDULE_CAT_CODE,EMAIL_ADDR,EPA_REGION,FAX_NUMBER,GW_SW_CODE,IS_GRANT_ELIGIBLE_IND,IS_SCHOOL_OR_DAYCARE_IND,IS_WHOLESALER_IND,LT2_SCHEDULE_CAT_CODE,ORG_NAME,OUTSTANDING_PERFORMER,OUTSTANDING_PERFORM_BEGIN_DATE,OWNER_TYPE_CODE,PHONE_EXT_NUMBER,PHONE_NUMBER,POPULATION_SERVED_COUNT,POP_CAT_11_CODE,POP_CAT_2_CODE,POP_CAT_3_CODE,POP_CAT_4_CODE,POP_CAT_5_CODE,PRIMACY_AGENCY_CODE,PRIMACY_TYPE,PRIMARY_SOURCE_CODE,PWSID,PWS_ACTIVITY_CODE,PWS_DEACTIVATION_DATE,PWS_NAME,PWS_TYPE_CODE,SEASON_BEGIN_DATE,SEASON_END_DATE,SERVICE_CONNECTIONS_COUNT,SOURCE_PROTECTION_BEGIN_DATE,SOURCE_WATER_PROTECTION_CODE,STATE_CODE,SUBMISSION_STATUS_CODE,ZIP_CODE
0,Tribal Office,"Indiantown Rd, - PO BOX 3060",Rodney Butler,NaN,NaN,MASHANTUCKET,US,NaN,NaN,01,NaN,SW,Y,N,Y,NaN,Mashantucket Pequot Tribal Utilities,NaN,NaN,N,NaN,8603966740,39552,6,2,2,2,4,01,Tribal,GU,010106001,A,NaN,Mashantucket Pequot Water System,CWS,NaN,NaN,143,NaN,NaN,CT,Y,06339-3060
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01,NaN,GW,N,N,N,NaN,NaN,NaN,NaN,N,NaN,NaN,41185,6,2,2,2,4,01,Tribal,GW,010109001,I,01-JAN-00,Mohegan Sun RETAIL/CASINO/HOTEL/ETC,NTNCWS,01-01,12-31,1,NaN,NaN,NaN,Y,NaN
2,5 Crow Hill Road,NaN,Kevin Brown,NaN,NaN,Uncasville,US,NaN,NaN,01,NaN,SW,Y,N,N,NaN,Mohegan Tribe,NaN,NaN,N,NaN,NaN,37860,6,2,2,2,4,01,Tribal,SWP,010109005,A,NaN,Mohegan Tribal Utility Authority,CWS,NaN,NaN,20,NaN,NaN,CT,Y,06382
3,P.O. Box 479,NaN,Willard Marden,NaN,NaN,Chilmark,US,NaN,awtha1@comcast.net,01,NaN,GW,Y,N,N,NaN,Aquinnah Wampanoag Tribal Housing Authority,NaN,NaN,N,NaN,5086452711,84,1,1,1,1,1,01,Tribal,GW,010307001,A,NaN,Aquinnah Wampanoag,CWS,NaN,NaN,33,NaN,NaN,MA,Y,02535
4,BOX 231,"SOUTH COUNTY TRAIL,RT.112,RT.2",NARRAGANSETT INDIAN LONGHOUSE,NaN,NaN,CHARLESTOWN,US,NaN,NaN,01,NaN,GW,N,N,N,NaN,NaN,NaN,NaN,N,NaN,401-364-1117,30,1,1,1,1,1,01,Tribal,GW,010502001,I,02-AUG-05,NARRAGANSETT INDIAN LONGHOUSE,TNCWS,01-01,12-31,2,NaN,NaN,RI,Y,02813

In [92]:
DATA1 = DATA1.replace('"', '', regex=True)

In [90]:
# DATA1.str.replace('[^a-zA-Z0-9]', '') #too drastic, amybe

In [93]:
fpath1 = 'C:/Users/Jim/Files/CFB/data/swdis/WATER_SYSTEM_clean.csv'

DATA1.to_csv(fpath1, sep="|", index=False, header=1, encoding='utf-8', quoting=csv.QUOTE_MINIMAL)

***
#### Next

In [98]:
DATA_PATH2 = 'C:/Users/Jim/Files/CFB/data/swdis/WATER_SYSTEM_FACILITY.csv' 

start_time = time.time()

DATA2 = pd.read_csv(DATA_PATH2, header=0, sep=',', error_bad_lines=False,
                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


# with open('C:/Users/Jim/Files/CFB/data/swdis/bad_lines.txt', 'w') as fp:
#     sys.stderr = fp
#     pd.read_csv('DATA_PATH1', sep=',', error_bad_lines=False, 
#                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


print(time.time() - start_time)

#compare length of rows by length of columns in df
lencols2 = len(DATA2.columns) + 1 #csv.reader counts 1 less for some reason
print(lencols2)

result2 = []
with open(DATA_PATH2) as csv_file:
    reader = csv.reader(csv_file, delimiter=',')
    for row in reader:
        if (len(row) > lencols2):
            print("Length of row is: %r" % len(row) )
            print(row)
            print(reader.line_num)
            result2.append(str(reader.line_num))

b'Skipping line 20844: expected 22 fields, saw 23\nSkipping line 22595: expected 22 fields, saw 23\nSkipping line 212438: expected 22 fields, saw 23\nSkipping line 213330: expected 22 fields, saw 23\nSkipping line 213331: expected 22 fields, saw 23\nSkipping line 213382: expected 22 fields, saw 23\nSkipping line 217515: expected 22 fields, saw 24\nSkipping line 217518: expected 22 fields, saw 23\nSkipping line 218082: expected 22 fields, saw 23\nSkipping line 218281: expected 22 fields, saw 24\nSkipping line 218727: expected 22 fields, saw 23\nSkipping line 219219: expected 22 fields, saw 23\nSkipping line 219226: expected 22 fields, saw 23\nSkipping line 219324: expected 22 fields, saw 23\nSkipping line 224406: expected 22 fields, saw 23\nSkipping line 224456: expected 22 fields, saw 23\nSkipping line 224487: expected 22 fields, saw 23\nSkipping line 224535: expected 22 fields, saw 23\nSkipping line 490993: expected 22 fields, saw 23\nSkipping line 491803: expected 22 fields, saw 23\nSkipping line 645679: expected 22 fields, saw 24\nSkipping line 814945: expected 22 fields, saw 23\nSkipping line 816071: expected 22 fields, saw 23\nSkipping line 817714: expected 22 fields, saw 24\nSkipping line 822187: expected 22 fields, saw 23\nSkipping line 822855: expected 22 fields, saw 23\nSkipping line 822856: expected 22 fields, saw 23\nSkipping line 825990: expected 22 fields, saw 24\nSkipping line 825994: expected 22 fields, saw 23\nSkipping line 827206: expected 22 fields, saw 23\nSkipping line 827207: expected 22 fields, saw 23\nSkipping line 827224: expected 22 fields, saw 23\nSkipping line 827241: expected 22 fields, saw 23\nSkipping line 829481: expected 22 fields, saw 23\nSkipping line 832413: expected 22 fields, saw 23\nSkipping line 834722: expected 22 fields, saw 24\nSkipping line 834736: expected 22 fields, saw 23\nSkipping line 835472: expected 22 fields, saw 23\nSkipping line 835577: expected 22 fields, saw 23\nSkipping line 839456: expected 22 fields, saw 23\nSkipping line 839457: expected 22 fields, saw 23\nSkipping line 839472: expected 22 fields, saw 23\nSkipping line 839473: expected 22 fields, saw 23\nSkipping line 839474: expected 22 fields, saw 23\nSkipping line 839526: expected 22 fields, saw 23\nSkipping line 842714: expected 22 fields, saw 23\nSkipping line 842718: expected 22 fields, saw 23\nSkipping line 842719: expected 22 fields, saw 23\nSkipping line 846413: expected 22 fields, saw 23\nSkipping line 846414: expected 22 fields, saw 23\nSkipping line 846416: expected 22 fields, saw 23\nSkipping line 846433: expected 22 fields, saw 23\nSkipping line 848544: expected 22 fields, saw 23\nSkipping line 856755: expected 22 fields, saw 23\nSkipping line 861754: expected 22 fields, saw 23\nSkipping line 861755: expected 22 fields, saw 23\nSkipping line 861756: expected 22 fields, saw 23\nSkipping line 862751: expected 22 fields, saw 23\nSkipping line 862752: expected 22 fields, saw 23\nSkipping line 866118: expected 22 fields, saw 23\nSkipping line 869046: expected 22 fields, saw 24\nSkipping line 869047: expected 22 fields, saw 24\nSkipping line 869310: expected 22 fields, saw 24\nSkipping line 869311: expected 22 fields, saw 24\nSkipping line 869312: expected 22 fields, saw 24\nSkipping line 869314: expected 22 fields, saw 24\nSkipping line 869321: expected 22 fields, saw 24\nSkipping line 869329: expected 22 fields, saw 24\nSkipping line 869330: expected 22 fields, saw 24\nSkipping line 869331: expected 22 fields, saw 24\nSkipping line 869353: expected 22 fields, saw 23\nSkipping line 869362: expected 22 fields, saw 24\nSkipping line 869363: expected 22 fields, saw 24\nSkipping line 869364: expected 22 fields, saw 24\nSkipping line 869386: expected 22 fields, saw 24\nSkipping line 869567: expected 22 fields, saw 23\nSkipping line 869716: expected 22 fields, saw 24\nSkipping line 869753: expected 22 fields, saw 24\nSkipping line 869789: expected 22 fields, saw 24\nSkipping line 869836: expected 22 fields, saw 24\nSkipping line 869967: expected 22 fields, saw 23\nSkipping line 870262: expected 22 fields, saw 23\nSkipping line 870263: expected 22 fields, saw 23\nSkipping line 870269: expected 22 fields, saw 23\nSkipping line 870270: expected 22 fields, saw 23\nSkipping line 870271: expected 22 fields, saw 23\nSkipping line 870272: expected 22 fields, saw 23\nSkipping line 870273: expected 22 fields, saw 23\nSkipping line 870274: expected 22 fields, saw 23\nSkipping line 870279: expected 22 fields, saw 23\nSkipping line 870280: expected 22 fields, saw 23\nSkipping line 870379: expected 22 fields, saw 23\nSkipping line 870479: expected 22 fields, saw 23\nSkipping line 870482: expected 22 fields, saw 23\nSkipping line 870486: expected 22 fields, saw 23\nSkipping line 870505: expected 22 fields, saw 24\nSkipping line 870509: expected 22 fields, saw 23\nSkipping line 870531: expected 22 fields, saw 23\nSkipping line 870532: expected 22 fields, saw 23\nSkipping line 870722: expected 22 fields, saw 23\nSkipping line 871349: expected 22 fields, saw 23\nSkipping line 871361: expected 22 fields, saw 23\nSkipping line 871376: expected 22 fields, saw 23\nSkipping line 871379: expected 22 fields, saw 23\nSkipping line 871380: expected 22 fields, saw 23\nSkipping line 871381: expected 22 fields, saw 23\nSkipping line 871394: expected 22 fields, saw 23\nSkipping line 871395: expected 22 fields, saw 23\nSkipping line 871396: expected 22 fields, saw 23\nSkipping line 871572: expected 22 fields, saw 23\nSkipping line 871607: expected 22 fields, saw 24\nSkipping line 871609: expected 22 fields, saw 24\nSkipping line 871701: expected 22 fields, saw 23\nSkipping line 871702: expected 22 fields, saw 23\nSkipping line 871734: expected 22 fields, saw 23\nSkipping line 871735: expected 22 fields, saw 23\nSkipping line 871736: expected 22 fields, saw 23\nSkipping line 872118: expected 22 fields, saw 23\nSkipping line 874624: expected 22 fields, saw 23\nSkipping line 874628: expected 22 fields, saw 23\nSkipping line 876546: expected 22 fields, saw 23\nSkipping line 876547: expected 22 fields, saw 23\nSkipping line 876548: expected 22 fields, saw 23\nSkipping line 876549: expected 22 fields, saw 23\nSkipping line 876603: expected 22 fields, saw 23\nSkipping line 876606: expected 22 fields, saw 23\nSkipping line 876607: expected 22 fields, saw 23\nSkipping line 876612: expected 22 fields, saw 23\nSkipping line 876622: expected 22 fields, saw 23\nSkipping line 876657: expected 22 fields, saw 23\nSkipping line 876658: expected 22 fields, saw 23\nSkipping line 876660: expected 22 fields, saw 23\nSkipping line 876661: expected 22 fields, saw 23\nSkipping line 876664: expected 22 fields, saw 23\nSkipping line 876710: expected 22 fields, saw 23\nSkipping line 876711: expected 22 fields, saw 23\nSkipping line 876756: expected 22 fields, saw 23\nSkipping line 876760: expected 22 fields, saw 23\nSkipping line 878805: expected 22 fields, saw 23\nSkipping line 878894: expected 22 fields, saw 24\nSkipping line 878939: expected 22 fields, saw 23\nSkipping line 879302: expected 22 fields, saw 23\nSkipping line 879334: expected 22 fields, saw 23\nSkipping line 879445: expected 22 fields, saw 24\nSkipping line 879446: expected 22 fields, saw 24\nSkipping line 879454: expected 22 fields, saw 24\nSkipping line 879465: expected 22 fields, saw 23\nSkipping line 879575: expected 22 fields, saw 23\nSkipping line 879578: expected 22 fields, saw 23\nSkipping line 879591: expected 22 fields, saw 23\nSkipping line 879592: expected 22 fields, saw 23\nSkipping line 879664: expected 22 fields, saw 24\nSkipping line 879724: expected 22 fields, saw 24\nSkipping line 879836: expected 22 fields, saw 23\nSkipping line 880428: expected 22 fields, saw 23\nSkipping line 880429: expected 22 fields, saw 23\nSkipping line 880430: expected 22 fields, saw 23\nSkipping line 880431: expected 22 fields, saw 23\nSkipping line 880507: expected 22 fields, saw 23\nSkipping line 892593: expected 22 fields, saw 23\nSkipping line 892594: expected 22 fields, saw 23\nSkipping line 893543: expected 22 fields, saw 23\nSkipping line 893687: expected 22 fields, saw 23\nSkipping line 893688: expected 22 fields, saw 23\nSkipping line 893689: expected 22 fields, saw 23\nSkipping line 894044: expected 22 fields, saw 23\nSkipping line 894358: expected 22 fields, saw 24\nSkipping line 894368: expected 22 fields, saw 24\nSkipping line 894372: expected 22 fields, saw 23\nSkipping line 894379: expected 22 fields, saw 23\nSkipping line 894521: expected 22 fields, saw 23\nSkipping line 894689: expected 22 fields, saw 24\nSkipping line 895014: expected 22 fields, saw 24\nSkipping line 1183545: expected 22 fields, saw 23\n'

6.939751148223877
22
Length of row is: 23
['', '10', 'A', '', '49667', 'CT TANK, 300 GAL W/ 2 BALLS', ' 0.8 MG/L"', 'ST', '', 'N', '', 'AK', 'AK2330118', 'A', '', 'TNCWS', '', '', '', 'ST001', 'Y', '', '']
20844
Length of row is: 23
['', '10', 'A', '', '42320', 'ST 2205 GAL 18 DIAMETER', ' 187\' PIPE"', 'ST', '', 'N', '', 'AK', 'AK2390609', 'A', '', 'TNCWS', '', '', '', 'SF001', 'Y', '', '']
22595
Length of row is: 23
['P', '04', 'A', '', '44204226', "WELL#1:99',6/WELL#2:95'", '6"NEW"', 'WL', '', 'Y', '', 'FL', 'FL3311397', 'I', '29-JAN-07', 'CWS', '', '', '', '4420', 'Y', 'GW', '']
212438
Length of row is: 23
['P', '04', 'A', '', '48964710', 'WELL #7 16 210" 702\' 2', '000GPM"', 'WL', '', 'Y', '', 'FL', 'FL3350836', 'A', '', 'CWS', '', '', '', '4896', 'Y', 'GW', '']
213330
Length of row is: 23
['P', '04', 'A', '', '48974711', "WELL #8 16 210' 702'2", '000GPM"', 'WL', '', 'Y', '', 'FL', 'FL3350836', 'A', '', 'CWS', '', '', '', '4897', 'Y', 'GW', '']
213331
Length of row is: 23
['P', '04', 'A', '', '49284742', "20WL 110'/310' 300HP 4", '500GPM"', 'WL', '', 'Y', '', 'FL', 'FL3350942', 'A', '', 'CWS', '', '', '', '4928', 'Y', 'GW', '']
213382
Length of row is: 24
['', '04', 'A', '', '59533484093', 'PUMP STAB" (WELLS 2', ' 2A', ' 17)"', 'TP', '', 'N', '', 'FL', 'FL3484093', 'A', '', 'CWS', '', '', '', '4', 'Y', '', '']
217515
Length of row is: 23
['', '04', 'A', '', '59543484093', 'PUMP STAA" (WELLS 9', ' 10)"', 'TP', '', 'N', '', 'FL', 'FL3484093', 'A', '', 'CWS', '', '', '', '5', 'Y', '', '']
217518
Length of row is: 23
['', '04', 'I', '04-OCT-05', '9001', '4WELL', '180GPM PUMP"', 'WL', '', 'Y', 'Y', 'FL', 'FL3484382', 'I', '30-JAN-05', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
218082
Length of row is: 24
['P', '04', 'A', '', '71907043', '3WELL', '24GPM', '303\'DEEP"', 'WL', '', 'Y', '', 'FL', 'FL3490775', 'A', '', 'TNCWS', '', '', '', '7190', 'Y', 'GW', '']
218281
Length of row is: 23
['', '04', 'I', '04-OCT-05', '9001', '4WELL', ' 1.0 HP SUB. 20"', 'WL', '', 'Y', 'Y', 'FL', 'FL3494398', 'I', '01-JUL-04', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
218727
Length of row is: 23
['P', '04', 'A', '', '76717511', "WELL#101,12 285'/341'", ' 700GPM"', 'WL', '', 'Y', '', 'FL', 'FL3590970', 'A', '', 'CWS', '', '', '', '7671', 'U', 'GW', '']
219219
Length of row is: 23
['P', '04', 'A', '', '4359752421', "WELL#101,12 285'/341'", ' 700GPM"', 'WL', '', 'Y', '', 'FL', 'FL3590970', 'A', '', 'CWS', '', '', '', '49563', 'Y', 'GW', '']
219226
Length of row is: 23
['', '04', 'I', '01-DEC-03', '9002', "WELL#2, 400', 10", ' 425"', 'WL', '', 'Y', 'Y', 'FL', 'FL3591535', 'I', '10-DEC-03', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
219324
Length of row is: 23
['P', '04', 'A', '', '92769183', 'VILLA MARGARET/4 WELL', ' 140\'"', 'WL', '', 'Y', '', 'FL', 'FL4471736', 'A', '', 'CWS', '', '', '', '9276', 'Y', 'GW', '']
224406
Length of row is: 23
['', '04', 'I', '04-OCT-05', '9001', 'PALM MOBILE HOME/3', ' 8"', 'WL', '', 'Y', 'Y', 'FL', 'FL4474409', 'I', '04-OCT-05', 'CWS', '', '', '', '', 'Y', 'GW', '']
224456
Length of row is: 23
['P', '04', 'A', '', '93039216', 'KNOTTS LANDING 2', ' 84\' WELL"', 'WL', '', 'Y', '', 'FL', 'FL4474426', 'A', '', 'TNCWS', '', '', '', '9303', 'Y', 'GW', '']
224487
Length of row is: 23
['', '04', 'A', '', '93349247', "BLITCH'S LAUNDRY 6", ' 1"', 'WL', '', 'Y', 'Y', 'FL', 'FL4474454', 'I', '30-NOV-05', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
224535
Length of row is: 23
['E', '01', 'A', '', '4321', '10 GRAVEL PACK WELL - OUTSIDE', ' 1993"', 'WL', '', 'Y', 'Y', 'ME', 'ME0090350', 'A', '', 'CWS', '', '', '', 'WELL HD 2', 'Y', 'GW', '']
490993
Length of row is: 23
['P', '01', 'I', '01-JAN-01', '4254', '6 BEDROCK WELL', ' 1996"', 'WL', '', 'Y', 'Y', 'ME', 'ME0091090', 'A', '', 'CWS', '', '', '', 'WELL HD 3', 'Y', 'GW', '']
491803
Length of row is: 24
['', '08', 'A', '', '11477', 'TREATMENT MAIN WORKS WELLS 1', '3', '4"', 'TP', '', 'N', '', 'MT', 'MT0000175', 'A', '', 'CWS', '', '', '', 'TP002', 'Y', '', '']
645679
Length of row is: 23
['P', '02', 'I', '01-JAN-89', '1', '12 DRILLED WELL', ' 75\' DEPTH"', 'WL', '', 'Y', 'U', 'NY', 'NY0417661', 'I', '01-JAN-89', 'CWS', '', '', '', '', 'Y', 'GW', '']
814945
Length of row is: 23
['P', '02', 'A', '', '29797', 'CAYUGA LAKE - 8 INTAKE', ' 18-28 FT. DEEP"', 'IN', '', 'Y', 'Y', 'NY', 'NY0512920', 'A', '', 'CWS', '', '', '', '001', 'Y', 'SW', '']
816071
Length of row is: 24
['P', '02', 'A', '', '27404', 'WELL #1, 6CASE', 'SOUTHWEST SIDE', '40\'DEEP"', 'WL', '', 'Y', '', 'NY', 'NY0622002', 'I', '01-JAN-07', 'TNCWS', '', '', '', 'WL-001', 'Y', 'GW', '']
817714
Length of row is: 23
['P', '02', 'A', '', '11918', 'DRILLED WELL, D=6', 'DEPTH= 100\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY1006332', 'A', '', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
822187
Length of row is: 23
['P', '02', 'A', '', '12163', 'DRILLED WELL #3, D=6', ' DEPTH=81\'"', 'WL', '', 'Y', 'N', 'NY', 'NY1020880', 'A', '', 'CWS', '', '', '', 'WL-03', 'Y', 'GW', '']
822855
Length of row is: 23
['P', '02', 'A', '', '12162', 'DRILLED WELL #2, D=6', ' DEPTH=80\'"', 'WL', '', 'Y', 'N', 'NY', 'NY1020880', 'A', '', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
822856
Length of row is: 24
['E', '02', 'I', '15-SEP-99', '29199', 'WELL 4: 12', " 101'", ' 10\' SCREEN #90 SLOT"', 'WL', '', 'Y', '', 'NY', 'NY1302783', 'A', '', 'CWS', '', '', '', 'W004', 'Y', 'GW', '']
825990
Length of row is: 23
['E', '02', 'I', '15-SEP-99', '29201', 'TEST WELL 8', ' 101\' 10\' SCREEN 60 SLOT"', 'WL', '', 'Y', '', 'NY', 'NY1302783', 'A', '', 'CWS', '', '', '', 'W006', 'Y', 'GW', '']
825994
Length of row is: 23
['P', '02', 'A', '', '29577', "DRILLED #6,D=12DEPTH 439'", ' 75 GPM"', 'WL', '', 'Y', '', 'NY', 'NY1316552', 'A', '', 'NTNCWS', '', '', '', 'W006', 'U', 'GW', '']
827206
Length of row is: 23
['P', '02', 'A', '', '29568', "DRILLED #7,D=12DEPTH 747'", ' 100 GPM"', 'WL', '', 'Y', '', 'NY', 'NY1316552', 'A', '', 'NTNCWS', '', '', '', 'W007', 'U', 'GW', '']
827207
Length of row is: 23
['P', '02', 'I', '25-OCT-17', '13219', "DRILLED #6,D=12DEPTH 439'", ' 75 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY1316552', 'A', '', 'NTNCWS', '', '', '', 'W006', 'Y', 'GW', '']
827224
Length of row is: 23
['P', '02', 'I', '25-OCT-17', '13210', "DRILLED #7,D=12DEPTH 747'", ' 100 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY1316552', 'A', '', 'NTNCWS', '', '', '', 'W007', 'Y', 'GW', '']
827241
Length of row is: 23
['P', '02', 'A', '', '13874', "WELL, 1995, 115',6", ' 99\' CASING"', 'WL', '', 'Y', 'Y', 'NY', 'NY1330243', 'A', '', 'TNCWS', '', '', '', 'W001', 'Y', 'GW', '']
829481
Length of row is: 23
['', '02', 'A', '', '67165', '12 TRANSMISSION MAIN FROM 300', '000 G TAN"', 'TM', '', 'N', '', 'NY', 'NY1500283', 'A', '', 'CWS', '', '', '', 'TM-02', 'Y', '', '']
832413
Length of row is: 24
['P', '02', 'A', '', '14645', 'DRILLED WELL 6 DIAMETER', ' 182 FT', ' 30 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY1701510', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
834722
Length of row is: 23
['P', '02', 'A', '', '14648', 'DRILLED WELL 6 DIAMETER', ' 127 FT."', 'WL', '', 'Y', 'N', 'NY', 'NY1701512', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
834736
Length of row is: 23
['P', '02', 'A', '', '14859', 'DRILLED WELL 6 DIAMETER', ' 104 FT. DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY1721986', 'A', '', 'NTNCWS', '', '', '', 'W001', 'Y', 'GW', '']
835472
Length of row is: 23
['S', '02', 'I', '01-APR-98', '1', 'DRILLED WELL-6DIAM.', ' 148 FT. DEEP"', 'WL', '', 'Y', 'U', 'NY', 'NY1730014', 'I', '01-APR-98', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
835577
Length of row is: 23
['P', '02', 'A', '', '15917', 'WELL 6 DIAMETER', '100\' EST DEPTH"', 'WL', '', 'Y', 'N', 'NY', 'NY2100648', 'A', '', 'CWS', '', '', '', '002', 'Y', 'GW', '']
839456
Length of row is: 23
['P', '02', 'A', '', '15916', 'WELL 6 DIAMETER', '100EST. DEPTH"', 'WL', '', 'Y', 'Y', 'NY', 'NY2100648', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
839457
Length of row is: 23
['E', '02', 'I', '01-OCT-78', '67101', 'WELL#1, 6 DIAMETER', '84\' DEEP"', 'WL', '', 'Y', '', 'NY', 'NY2100651', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
839472
Length of row is: 23
['P', '02', 'A', '', '15919', 'WELL #2, 6 DIAMETER', '79\' DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY2100651', 'A', '', 'CWS', '', '', '', '002', 'Y', 'GW', '']
839473
Length of row is: 23
['E', '02', 'I', '01-OCT-78', '42935', 'WELL#1, 6 DIAMETER', '84\' DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY2100651', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
839474
Length of row is: 23
['P', '02', 'A', '', '15930', 'DRILLED WELL 6', ' 63\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY2100958', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
839526
Length of row is: 23
['P', '02', 'A', '', '16573', 'DRILLED WELL A-4, D=8', ' DEPTH=200\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY2221206', 'A', '', 'CWS', '', '', '', 'WL001', 'Y', 'GW', '']
842714
Length of row is: 23
['P', '02', 'A', '', '16575', 'DRILLED WELL A-5, D=8', ' DEPTH=124\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY2221206', 'A', '', 'CWS', '', '', '', 'WL002', 'Y', 'GW', '']
842718
Length of row is: 23
['P', '02', 'A', '', '16574', 'DRILLED WELL DOF, D=8', ' DEPTH=190\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY2221206', 'A', '', 'CWS', '', '', '', 'WL003', 'Y', 'GW', '']
842719
Length of row is: 23
['P', '02', 'A', '', '17163', 'DRILLED WELL #1 6 DIAMETER', ' MAIN SOURCE"', 'WL', '', 'Y', 'Y', 'NY', 'NY2801593', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
846413
Length of row is: 23
['P', '02', 'A', '', '17162', 'DRILLED WELL #2 6 DIA.', ' AUX. SOURCE"', 'WL', '', 'Y', 'Y', 'NY', 'NY2801593', 'A', '', 'CWS', '', '', '', '003', 'Y', 'GW', '']
846414
Length of row is: 23
['P', '02', 'I', '04-OCT-05', '33835', 'DRILLED WELL 6 DIAMETER', ' 145 FT."', 'WL', '', 'Y', 'U', 'NY', 'NY2801594', 'N', '28-MAR-02', 'CWS', '', '', '', '', 'Y', 'GW', '']
846416
Length of row is: 23
['P', '02', 'A', '', '17167', 'DRILLED WELL 6 DIAMETER', ' 360 FT. DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY2801596', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
846433
Length of row is: 23
['P', '02', 'I', '01-FEB-91', '1', 'DRILLED WELL, D=6', ' DEPTH=52\'"', 'WL', '', 'Y', 'U', 'NY', 'NY3109196', 'I', '01-FEB-91', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
848544
Length of row is: 23
['P', '02', 'I', '01-DEC-95', '1', 'DRILLED WELL D=7', '90\'"', 'WL', '', 'Y', 'U', 'NY', 'NY3607628', 'I', '01-DEC-95', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
856755

Length of row is: 23
['P', '02', 'I', '01-AUG-78', '1', 'DRILLED WELL #3,D=6', 'DEPTH=285\'"', 'WL', '', 'Y', 'U', 'NY', 'NY3905690', 'I', '01-AUG-78', 'CWS', '', '', '', '', 'Y', 'GW', '']
861754
Length of row is: 23
['P', '02', 'I', '01-AUG-78', '3', 'DRILLED WELL #5,D=6', 'DEPTH=205\'"', 'WL', '', 'Y', 'U', 'NY', 'NY3905690', 'I', '01-AUG-78', 'CWS', '', '', '', '', 'Y', 'GW', '']
861755
Length of row is: 23
['P', '02', 'I', '01-AUG-78', '2', 'DRILLED WELL #4,D=6', 'DEPTH=185\'"', 'WL', '', 'Y', 'U', 'NY', 'NY3905690', 'I', '01-AUG-78', 'CWS', '', '', '', '', 'Y', 'GW', '']
861756
Length of row is: 23
['P', '02', 'A', '', '20431', 'WELL #1, DEPTH=765', ' 43 GPM"', 'WL', '', 'Y', '', 'NY', 'NY3921641', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
862751
Length of row is: 23
['P', '02', 'A', '', '20430', 'WELL #2, DEPTH-550', ' 57 GPM"', 'WL', '', 'Y', '', 'NY', 'NY3921641', 'A', '', 'CWS', '', '', '', '002', 'Y', 'GW', '']
862752
Length of row is: 23
['P', '02', 'I', '01-JAN-89', '1', 'DRILLED WELL, D=6', ' DEPTH=85\'"', 'WL', '', 'Y', 'U', 'NY', 'NY4402945', 'I', '01-JAN-89', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
866118
Length of row is: 24
['P', '02', 'A', '', '21765', 'DRILLED WELL #1, D=8', ' 150GPM', ' 65\' DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY4500165', 'A', '', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
869046
Length of row is: 24
['P', '02', 'A', '', '21766', 'DRILLED WELL #2, D=12', ' 200GPM', ' 65\' DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY4500165', 'A', '', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
869047
Length of row is: 24
['O', '02', 'I', '04-OCT-05', '49724', 'DRILLED WELL #3, 6', " 80' DEEP", ' 34 GPM"', 'WL', '', 'Y', 'U', 'NY', 'NY4500176', 'I', '01-OCT-99', 'CWS', '', '', '', '', 'Y', 'GW', '']
869310
Length of row is: 24
['O', '02', 'I', '04-OCT-05', '49723', 'DRILLED WELL #2, 6', " 40' DEEP", ' 6.5 GPM"', 'WL', '', 'Y', 'U', 'NY', 'NY4500176', 'I', '01-OCT-99', 'CWS', '', '', '', '', 'Y', 'GW', '']
869311
Length of row is: 24
['P', '02', 'I', '04-OCT-05', '38742', 'DRILLED WELL #1, 6', " 40' DEEP", ' 6.5 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4500176', 'I', '01-OCT-99', 'CWS', '', '', '', '', 'Y', 'GW', '']
869312
Length of row is: 24
['O', '02', 'I', '04-OCT-05', '49725', 'DRILLED WELL #4, 6', " 80' DEEP", ' 65 GPM"', 'WL', '', 'Y', 'U', 'NY', 'NY4500176', 'I', '01-OCT-99', 'CWS', '', '', '', '', 'Y', 'GW', '']
869314
Length of row is: 24
['P', '02', 'I', '15-SEP-99', '21785', 'XINACTIVE WL#3, 8 DIA', " 20' DEEP", ' 90 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4500177', 'A', '', 'CWS', '', '', '', 'XXWL-03XX', 'Y', 'GW', '']
869321
Length of row is: 24
['P', '02', 'I', '15-SEP-99', '21784', 'XINACTIVE WL#2, 8 DIA', " 19' DEEP", ' 60 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4500177', 'A', '', 'CWS', '', '', '', 'XXWL-02XX', 'Y', 'GW', '']
869329
Length of row is: 24
['P', '02', 'I', '15-SEP-99', '38745', 'XINACTIVE WL#3, 8 DIA', " 20' DEEP", ' 90 GPM"', 'WL', '', 'Y', '', 'NY', 'NY4500177', 'A', '', 'CWS', '', '', '', 'WL-03', 'Y', 'GW', '']
869330
Length of row is: 24
['P', '02', 'I', '15-SEP-99', '38744', 'XINACTIVE WL#2, 8 DIA', " 19' DEEP", ' 60 GPM"', 'WL', '', 'Y', '', 'NY', 'NY4500177', 'A', '', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
869331
Length of row is: 23
['P', '02', 'I', '01-APR-93', '4', 'WELL #4,12 CASING', ' DEPTH-134\'"', 'WL', '', 'Y', 'U', 'NY', 'NY4500180', 'I', '01-APR-93', 'CWS', '', '', '', '', 'Y', 'GW', '']
869353
Length of row is: 24
['P', '02', 'I', '01-APR-93', '5', 'WELL #1, D=6', " 156' DEEP", ' 75 GPM"', 'WL', '', 'Y', 'U', 'NY', 'NY4500182', 'I', '01-APR-93', 'CWS', '', '', '', '', 'Y', 'GW', '']
869362
Length of row is: 24
['P', '02', 'I', '01-APR-93', '6', 'WELL #2,8DIAM.', "153' DEEP", ' 80 GPM"', 'WL', '', 'Y', 'U', 'NY', 'NY4500182', 'I', '01-APR-93', 'CWS', '', '', '', '', 'Y', 'GW', '']
869363
Length of row is: 24
['P', '02', 'I', '01-APR-93', '4', 'WELL #3,6DIAM.', "164' DEEP", ' 100 GPM"', 'WL', '', 'Y', 'U', 'NY', 'NY4500182', 'I', '01-APR-93', 'CWS', '', '', '', '', 'Y', 'GW', '']
869364
Length of row is: 24
['', '02', 'I', '31-DEC-14', '61554', '4 DIAMETER PIPE FOR WELLS 2-6', '2-7', ' 2-8"', 'TM', '', 'N', '', 'NY', 'NY4500186', 'A', '', 'CWS', '', '', '', 'TM-2-6,7,8', 'Y', '', '']
869386
Length of row is: 23
['P', '02', 'I', '01-DEC-94', '1', 'DRILLED WELL-6', '60 FT.DEEP"', 'WL', '', 'Y', 'U', 'NY', 'NY4501786', 'I', '01-DEC-94', 'CWS', '', '', '', '', 'Y', 'GW', '']
869567
Length of row is: 24
['P', '02', 'A', '', '21896', 'DRILLED WELL, 8', " 128'", ' 3 HP"', 'WL', '', 'Y', 'Y', 'NY', 'NY4501810', 'A', '', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
869716
Length of row is: 24
['P', '02', 'A', '', '21898', 'DRILLED WELL #1, 6', " 100'", ' 3/4 HP"', 'WL', '', 'Y', '', 'NY', 'NY4501813', 'A', '', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
869753
Length of row is: 24
['P', '02', 'A', '', '21914', 'DRILLED WELL, 6 DIA', " 500' D", ' 1HP PUMP"', 'WL', '', 'Y', 'Y', 'NY', 'NY4501816', 'I', '15-JUN-10', 'CWS', '', '', '', 'WL-04', 'Y', 'GW', '']
869789
Length of row is: 24
['P', '02', 'A', '', '21929', 'DRILLED WELL 8', " 60' DEEP", ' 1 HP PUMP"', 'WL', '', 'Y', 'Y', 'NY', 'NY4501821', 'A', '', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
869836
Length of row is: 23
['P', '02', 'A', '', '21959', 'DRILLED WELL, 6 CASING', ' 175\' DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY4503943', 'A', '', 'TNCWS', '', '', '', 'WL-01', 'Y', 'GW', '']
869967
Length of row is: 23
['P', '02', 'A', '', '22107', "DRILLED WELL #1, 114', 6", ' 7 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
870262
Length of row is: 23
['P', '02', 'A', '', '22108', "DRILLED WELL #5, 52', 6", ' 7 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'WL-05', 'Y', 'GW', '']
870263
Length of row is: 23
['P', '02', 'A', '', '22103', "DRILLED WELL #7, 76.5', 6", ' 5 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'WL-07', 'Y', 'GW', '']
870269
Length of row is: 23
['P', '02', 'A', '', '22101', "DRILLED WELL #3, 66', 6", ' 9 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'WL-03', 'Y', 'GW', '']
870270
Length of row is: 23
['S', '02', 'I', '15-SEP-99', '22104', "INACTIVE DRILLED WL #6, 49.5', 6", '11 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'XXWL-06XX', 'Y', 'GW', '']
870271
Length of row is: 23
['P', '02', 'A', '', '22102', "DRILLED WELL #8, 46', 6", ' 6 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'WL-08', 'Y', 'GW', '']
870272
Length of row is: 23
['S', '02', 'I', '15-SEP-99', '22105', "INACTIVE DRILLED WELL #4, 48', 6", ' 7 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'XXWL-04XX', 'Y', 'GW', '']
870273
Length of row is: 23
['P', '02', 'A', '', '22106', "DRILLED WELL #2, 118', 6", ' 10 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
870274
Length of row is: 23
['S', '02', 'I', '15-SEP-99', '39076', "INACTIVE DRILLED WELL #4, 48', 6", ' 7 GPM"', 'WL', '', 'Y', '', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'WL-04', 'Y', 'GW', '']
870279
Length of row is: 23
['S', '02', 'I', '15-SEP-99', '39075', "INACTIVE DRILLED WL #6, 49.5', 6", '11 GPM"', 'WL', '', 'Y', '', 'NY', 'NY4505400', 'I', '13-NOV-14', 'CWS', '', '', '', 'WL-06', 'Y', 'GW', '']
870280
Length of row is: 23
['P', '02', 'A', '', '22135', 'DRILLED WELL #2, 6 DIA', ' 65 \' DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY4508372', 'A', '', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
870379
Length of row is: 23
['P', '02', 'I', '23-DEC-05', '39142', 'INACTIVE DRILLED WELL-6', ' 110\'DEEP (AUX)"', 'WL', '', 'Y', '', 'NY', 'NY4510716', 'N', '26-JUN-14', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
870479
Length of row is: 23
['P', '02', 'A', '', '22165', 'DRILLED WELL-6', ' 110\'DEEP (AUX)"', 'WL', '', 'Y', 'Y', 'NY', 'NY4510716', 'N', '26-JUN-14', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
870482
Length of row is: 23
['P', '02', 'A', '', '22164', 'DRILLED WELL-6', '125\' DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY4510716', 'N', '26-JUN-14', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
870486
Length of row is: 24
['P', '02', 'A', '', '22171', 'DRILLED WELL, 6', " 80' DEEP", ' 3/4 AND 1 HP"', 'WL', '', 'Y', 'N', 'NY', 'NY4510772', 'A', '', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
870505
Length of row is: 23
['P', '02', 'I', '01-NOV-97', '1', 'DRILLED WELL-6', '155\' DEEP"', 'WL', '', 'Y', 'U', 'NY', 'NY4511266', 'I', '01-NOV-97', 'CWS', '', '', '', '', 'Y', 'GW', '']
870509
Length of row is: 23
['P', '02', 'I', '01-NOV-97', '1', 'WELL #1-6', '65\'DEEP DRILLED"', 'WL', '', 'Y', 'U', 'NY', 'NY4511594', 'I', '01-NOV-97', 'CWS', '', '', '', '', 'Y', 'GW', '']
870531
Length of row is: 23
['P', '02', 'I', '01-NOV-97', '2', 'WELL #2-6', '68\'DEEP DRILLED"', 'WL', '', 'Y', 'U', 'NY', 'NY4511594', 'I', '01-NOV-97', 'CWS', '', '', '', '', 'Y', 'GW', '']
870532
Length of row is: 23
['P', '02', 'I', '01-NOV-97', '1', 'DRILLED WELL-6', '380\' DEEP"', 'WL', '', 'Y', 'U', 'NY', 'NY4513996', 'I', '01-NOV-97', 'CWS', '', '', '', '', 'Y', 'GW', '']
870722
Length of row is: 23
['P', '02', 'A', '', '22467', 'DRILLED WELL-6', '60 FEET DEEP"', 'WL', '', 'Y', 'Y', 'NY', 'NY4519064', 'A', '', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
871349
Length of row is: 23
['E', '02', 'I', '13-NOV-07', '39467', 'INACITVE-HOFFMAN WELL #1-6', ' 97.8\'"', 'WL', '', 'Y', '', 'NY', 'NY4519111', 'A', '', 'CWS', '', '', '', 'WL-H1', 'Y', 'GW', '']
871361
Length of row is: 23
['E', '02', 'I', '13-NOV-07', '22477', 'INACITVE-HOFFMAN WELL #1-6', ' 97.8\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY4519111', 'A', '', 'CWS', '', '', '', 'WL-H1', 'Y', 'GW', '']
871376
Length of row is: 23
['E', '02', 'I', '13-NOV-07', '22474', 'INACTIVE - HOFFMAN WELL #3-8', ' 104\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY4519111', 'A', '', 'CWS', '', '', '', 'WL-H3', 'Y', 'GW', '']
871379
Length of row is: 23
['P', '02', 'I', '13-NOV-07', '22473', 'INACTIVE - HOFFMAN WELL #4-8', ' 115\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY4519111', 'A', '', 'CWS', '', '', '', 'WL-H4', 'Y', 'GW', '']
871380
Length of row is: 23
['E', '02', 'I', '13-NOV-07', '22475', 'INACTIVE - HOFFMAN WELL #2-6', ' 116.2\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY4519111', 'A', '', 'CWS', '', '', '', 'WL-H2', 'Y', 'GW', '']
871381
Length of row is: 23
['E', '02', 'I', '13-NOV-07', '39465', 'INACTIVE - HOFFMAN WELL #2-6', ' 116.2\'"', 'WL', '', 'Y', '', 'NY', 'NY4519111', 'A', '', 'CWS', '', '', '', 'WL-H2', 'Y', 'GW', '']
871394
Length of row is: 23
['E', '02', 'I', '13-NOV-07', '39464', 'INACTIVE - HOFFMAN WELL #3-8', ' 104\'"', 'WL', '', 'Y', '', 'NY', 'NY4519111', 'A', '', 'CWS', '', '', '', 'WL-H3', 'Y', 'GW', '']
871395
Length of row is: 23
['P', '02', 'I', '13-NOV-07', '39463', 'INACTIVE - HOFFMAN WELL #4-8', ' 115\'"', 'WL', '', 'Y', '', 'NY', 'NY4519111', 'A', '', 'CWS', '', '', '', 'WL-H4', 'Y', 'GW', '']
871396
Length of row is: 23
['P', '02', 'I', '01-SEP-01', '39539', 'DRILLED WELL, 6 CASING', ' DEPTH UNKNOWN"', 'WL', '', 'Y', 'U', 'NY', 'NY4521224', 'I', '27-SEP-01', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
871572
Length of row is: 24
['P', '02', 'I', '01-FEB-04', '39551', 'WELL #1, 8', " 173'", ' 85 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4521845', 'I', '25-FEB-04', 'CWS', '', '', '', '', 'Y', 'GW', '']
871607
Length of row is: 24
['P', '02', 'I', '01-FEB-04', '39552', 'WELL #2, 8', " 197'", ' 115 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4521845', 'I', '25-FEB-04', 'CWS', '', '', '', '', 'Y', 'GW', '']
871609
Length of row is: 23
['P', '02', 'I', '01-DEC-98', '1', "DRILLED WELL, 110' DEEP, 6 DIA", ' 32 GPM"', 'WL', '', 'Y', 'Y', 'NY', 'NY4522503', 'I', '01-DEC-98', 'CWS', '', '', '', '', 'Y', 'GW', '']
871701
Length of row is: 23
['P', '02', 'I', '01-DEC-98', '1T', "DRILLED WELL, 110' DEEP, 6 DIA", ' 32 GPM"', 'TP', '', 'N', '', 'NY', 'NY4522503', 'I', '01-DEC-98', 'CWS', '', '', '', '', 'Y', 'GW', '']
871702
Length of row is: 23
['P', '02', 'I', '01-JAN-01', '2', '2-12 DIA DRILLED WELLS', ' 38\' DEEP"', 'WL', '', 'Y', 'U', 'NY', 'NY4522533', 'I', '01-JAN-01', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
871734
Length of row is: 23
['P', '02', 'I', '01-JAN-01', '1', '3-6 DIA DRILLED WELLS', '38\' DEEP"', 'WL', '', 'Y', 'U', 'NY', 'NY4522533', 'I', '01-JAN-01', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
871735
Length of row is: 23
['P', '02', 'I', '01-JAN-01', '3', '4-DRIVEN PTS, 2-1/2 GRAVEL PACKED', ' 12\'"', 'WL', '', 'Y', 'U', 'NY', 'NY4522533', 'I', '01-JAN-01', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
871736
Length of row is: 23
['P', '02', 'A', '', '22725', 'DRILLED WELL, 6', ' 225\'"', 'WL', '', 'Y', 'Y', 'NY', 'NY4530065', 'A', '', 'NTNCWS', '', '', '', 'WL-01', 'Y', 'GW', '']
872118
Length of row is: 23
['P', '02', 'A', '', '23135', 'WELL (6 CASING', ' 82 FT DEEP)"', 'WL', '', 'Y', 'N', 'NY', 'NY4921531', 'A', '', 'NTNCWS', '', '', '', 'WL-001', 'Y', 'GW', '']
874624
Length of row is: 23
['P', '02', 'A', '', '57591', 'WELL#2 (6 CASING', ' 110 FT. DEEP)"', 'WL', '', 'Y', 'Y', 'NY', 'NY4921531', 'A', '', 'NTNCWS', '', '', '', 'WL-002', 'Y', 'GW', '']
874628
Length of row is: 23
['P', '02', 'I', '01-OCT-93', '1', 'WELL 1 (S-8265),8DIA', ' 186\'"', 'WL', '', 'Y', 'U', 'NY', 'NY5103244', 'I', '01-OCT-93', 'CWS', '', '', '', '', 'Y', 'GW', '']
876546
Length of row is: 23
['P', '02', 'I', '01-OCT-93', '2', 'WELL 2 (S-11464),8 DIA', ' 175\'"', 'WL', '', 'Y', 'U', 'NY', 'NY5103244', 'I', '01-OCT-93', 'CWS', '', '', '', '', 'Y', 'GW', '']
876547
Length of row is: 23
['P', '02', 'I', '01-OCT-93', '3', 'WELL 3A (S-50222),16 DIA', ' 212\'"', 'WL', '', 'Y', 'U', 'NY', 'NY5103244', 'I', '01-OCT-93', 'CWS', '', '', '', '', 'Y', 'GW', '']
876548
Length of row is: 23
['P', '02', 'I', '01-OCT-93', '4', 'WELL 4 (S-37991), 16 DIA', ' 144\'"', 'WL', '', 'Y', 'U', 'NY', 'NY5103244', 'I', '01-OCT-93', 'CWS', '', '', '', '', 'Y', 'GW', '']
876549
Length of row is: 23
['P', '02', 'I', '01-DEC-92', '2', 'WELL #3 (S-1667),DIA 6', '110 FT"', 'WL', '', 'Y', 'U', 'NY', 'NY5103265', 'I', '01-DEC-92', 'CWS', '', '', '', '', 'Y', 'GW', '']
876603
Length of row is: 23
['P', '02', 'I', '01-DEC-92', '1', 'WELL #2 (S-1666),DIA 6', '110 FT"', 'WL', '', 'Y', 'U', 'NY', 'NY5103265', 'I', '01-DEC-92', 'CWS', '', '', '', '', 'Y', 'GW', '']
876606
Length of row is: 23
['P', '02', 'I', '01-DEC-92', '3', 'WELL #4 (S-36965),DIA 12', '150 FT"', 'WL', '', 'Y', 'U', 'NY', 'NY5103265', 'I', '01-DEC-92', 'CWS', '', '', '', '', 'Y', 'GW', '']
876607
Length of row is: 23
['P', '02', 'I', '01-JAN-89', '2', 'WELL (S-16442), 6 DIA', ' 163\'"', 'WL', '', 'Y', 'U', 'NY', 'NY5103268', 'I', '01-JAN-89', 'CWS', '', '', '', '', 'Y', 'GW', '']
876612
Length of row is: 23
['E', '02', 'I', '15-SEP-98', '40751', 'WELL #7(S-19057),12 DIA', '676\'"', 'WL', '', 'Y', '', 'NY', 'NY5103271', 'A', '', 'CWS', '', '', '', '007', 'Y', 'GW', '']
876622
Length of row is: 23
['P', '02', 'I', '01-JAN-89', '2', 'WELL #2(S-23828),12 DIA', '150\'"', 'WL', '', 'Y', 'U', 'NY', 'NY5103272', 'I', '01-JAN-89', 'CWS', '', '', '', '', 'Y', 'GW', '']
876657
Length of row is: 23
['P', '02', 'I', '01-JAN-89', '1', 'WELL #1(S-23827),12 DIA', '150\'"', 'WL', '', 'Y', 'U', 'NY', 'NY5103272', 'I', '01-JAN-89', 'CWS', '', '', '', '', 'Y', 'GW', '']
876658
Length of row is: 23
['P', '02', 'I', '01-JAN-89', '2', 'WELL #2 (S-20184), 12DIA', ' 170 FT."', 'WL', '', 'Y', 'U', 'NY', 'NY5103273', 'I', '01-JAN-89', 'CWS', '', '', '', '', 'Y', 'GW', '']
876660
Length of row is: 23
['P', '02', 'I', '01-JAN-89', '1', 'WELL #1 (S-15127), 12DIA', 'AUXILARY"', 'WL', '', 'Y', 'U', 'NY', 'NY5103273', 'I', '01-JAN-89', 'CWS', '', '', '', '', 'Y', 'GW', '']
876661
Length of row is: 23
['E', '02', 'I', '15-SEP-99', '40768', 'WELL 1-1(S-203),DIA 10', '261\' AUXIL"', 'WL', '', 'Y', '', 'NY', 'NY5103276', 'A', '', 'CWS', '', '', '', '001', 'Y', 'GW', '']
876664
Length of row is: 23
['P', '02', 'I', '01-MAR-89', '1', 'WELL (S-2016),8 DIR', ' 130\' DEPTH"', 'WL', '', 'Y', 'U', 'NY', 'NY5103286', 'I', '01-MAR-89', 'CWS', '', '', '', '', 'Y', 'GW', '']
876710
Length of row is: 23
['P', '02', 'I', '01-MAR-89', '2', 'WELL (S-5565),10 DIR', ' 150\' DEPTH"', 'WL', '', 'Y', 'U', 'NY', 'NY5103286', 'I', '01-MAR-89', 'CWS', '', '', '', '', 'Y', 'GW', '']
876711
Length of row is: 23
['P', '02', 'I', '01-OCT-93', '1', 'WELL #1  S-04501 ,8 DIA', '140 FEET"', 'WL', '', 'Y', 'U', 'NY', 'NY5103693', 'I', '01-OCT-93', 'CWS', '', '', '', '', 'Y', 'GW', '']
876756
Length of row is: 23
['P', '02', 'I', '01-DEC-90', '1', 'WELL (S-5447), 6 DIA', ' DEPTH 60\'"', 'WL', '', 'Y', 'U', 'NY', 'NY5103697', 'I', '01-DEC-90', 'CWS', '', '', '', '', 'Y', 'GW', '']
876760
Length of row is: 23
['P', '02', 'I', '01-NOV-94', '1', 'DRILLED WELL, 1.25 JET', ' 82 GAL."', 'WL', '', 'Y', 'U', 'NY', 'NY5115502', 'I', '01-NOV-94', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
878805
Length of row is: 24
['P', '02', 'I', '01-OCT-90', '1', "WELL, 60', 2", ' MICROMET', ' 72GAL GL"', 'WL', '', 'Y', 'U', 'NY', 'NY5118479', 'I', '01-OCT-90', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
878894
Length of row is: 23
['P', '02', 'I', '01-DEC-81', '1', "WELL, 80', 2 CASING", ' DW JET"', 'WL', '', 'Y', 'U', 'NY', 'NY5118559', 'I', '01-DEC-81', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
878939
Length of row is: 23
['P', '02', 'I', '23-MAY-00', '41882', 'WELL(A) 2 JET(OFFICE', ' OT & BR SINKS)"', 'WL', '', 'Y', '', 'NY', 'NY5120191', 'A', '', 'TNCWS', '', '', '', 'W1', 'Y', 'GW', '']
879302
Length of row is: 23
['P', '02', 'I', '01-NOV-92', '1', "WELL, 125', 2 ROD", ' ION EXCHANGE"', 'WL', '', 'Y', 'U', 'NY', 'NY5120304', 'I', '01-NOV-92', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
879334
Length of row is: 24
['P', '02', 'I', '01-APR-97', '1', 'WELL, 4 SUB', " 60'", ' 3000 GAL"', 'WL', '', 'Y', 'Y', 'NY', 'NY5120609', 'I', '01-APR-97', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
879445
Length of row is: 24
['P', '02', 'I', '01-APR-97', '1T', 'WELL, 4 SUB', " 60'", ' 3000 GAL"', 'TP', '', 'N', '', 'NY', 'NY5120609', 'I', '01-APR-97', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
879446
Length of row is: 24
['P', '02', 'I', '01-NOV-01', '41955', 'WELL, 2 JET', ' 128 FT.', ' 3(82) HYDRO"', 'WL', '', 'Y', 'U', 'NY', 'NY5120620', 'I', '28-NOV-01', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
879454
Length of row is: 23
['P', '02', 'I', '01-JUN-92', '1', 'WELL, 4 SUB', ' ION EXCHANGE"', 'WL', '', 'Y', 'U', 'NY', 'NY5120627', 'I', '01-JUN-92', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
879465
Length of row is: 23
['P', '02', 'I', '01-OCT-90', '1', '300 FT. WELL, SUB 4', ' HYDROCELL(2)"', 'WL', '', 'Y', 'U', 'NY', 'NY5120854', 'I', '01-OCT-90', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
879575
Length of row is: 23
['P', '02', 'I', '01-JAN-01', '1', 'WELL, 4', ' SUB"', 'WL', '', 'Y', 'U', 'NY', 'NY5120858', 'I', '01-JAN-01', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
879578
Length of row is: 23
['P', '02', 'I', '01-NOV-90', '2', "WELL, 102', 5 CASING", ' SUB."', 'WL', '', 'Y', 'U', 'NY', 'NY5120891', 'I', '01-NOV-90', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
879591
Length of row is: 23
['P', '02', 'I', '01-NOV-90', '1', "WELL, 102', 5 CASING", ' SUB."', 'WL', '', 'Y', 'U', 'NY', 'NY5120891', 'I', '01-NOV-90', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
879592
Length of row is: 24
['S', '02', 'A', '', '42061', '4 SUB WELL-MAINT', ' SHOP', ' OFFICE"', 'WL', '', 'Y', 'N', 'NY', 'NY5120984', 'I', '13-FEB-08', 'TNCWS', '', '', '', 'W2', 'Y', 'GW', '']
879664
Length of row is: 24
['P', '02', 'I', '01-SEP-93', '1', '4 WELL', ' 2 JET', ' 60 XTROL"', 'WL', '', 'Y', 'U', 'NY', 'NY5121095', 'I', '01-SEP-93', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
879724
Length of row is: 23
['P', '02', 'I', '01-NOV-94', '1', 'WELL 6 SUB.', ' 120\'"', 'WL', '', 'Y', 'U', 'NY', 'NY5121229', 'I', '01-NOV-94', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
879836
Length of row is: 23

Length of row is: 23
['P', '02', 'I', '01-DEC-99', '45549', "DRILLED WELL #2, 40', 6 CASING", ' 3.5GPM"', 'WL', '', 'Y', 'U', 'NY', 'NY5612686', 'I', '22-DEC-99', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
892593
Length of row is: 23
['P', '02', 'I', '01-DEC-99', '45548', "DRILLED WELL #1, 15', 6 CASING", ' 3.5GPM"', 'WL', '', 'Y', 'U', 'NY', 'NY5612686', 'I', '22-DEC-99', 'TNCWS', '', '', '', '', 'Y', 'GW', '']
892594
Length of row is: 23
['P', '02', 'A', '', '28529', "DRILLED WELL, 102', 6", ' 26 GPM"', 'WL', '', 'Y', 'N', 'NY', 'NY5615256', 'I', '08-JUN-12', 'TNCWS', '', '', '', 'WL-01', 'Y', 'GW', '']
893543
Length of row is: 23
['S', '02', 'A', '', '28569', "523' DRILLED WELL, 6 DIA", ' 5HP"', 'WL', '', 'Y', 'Y', 'NY', 'NY5618465', 'A', '', 'TNCWS', '', '', '', 'WL-01', 'Y', 'GW', '']
893687
Length of row is: 23
['S', '02', 'A', '', '28570', "324' DRILLED WELL, 6 DIA", ' 2HP"', 'WL', '', 'Y', 'Y', 'NY', 'NY5618465', 'A', '', 'TNCWS', '', '', '', 'WL-03', 'Y', 'GW', '']
893688
Length of row is: 23
['S', '02', 'A', '', '28568', "373' DRILLED WELL, 6 DIA", ' 2HP"', 'WL', '', 'Y', 'Y', 'NY', 'NY5618465', 'A', '', 'TNCWS', '', '', '', 'WL-02', 'Y', 'GW', '']
893689
Length of row is: 23
['P', '02', 'A', '', '28668', "285' DRILLED WELL, 8 DIA", ' 12 PGM"', 'WL', '', 'Y', 'N', 'NY', 'NY5630044', 'A', '', 'TNCWS', '', '', '', 'WL-01', 'Y', 'GW', '']
894044
Length of row is: 24
['P', '02', 'A', '', '28684', 'DRILLED WELL #2, 8', " 50'", ' 20 HP"', 'WL', '', 'Y', 'Y', 'NY', 'NY5700117', 'A', '', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
894358
Length of row is: 24
['P', '02', 'A', '', '28683', 'DRILLED WELL #1, 8', " 50'", ' 20 HP"', 'WL', '', 'Y', 'Y', 'NY', 'NY5700117', 'A', '', 'CWS', '', '', '', 'WL-01', 'Y', 'GW', '']
894368
Length of row is: 23
['E', '02', 'I', '15-SEP-99', '45950', 'INACTIVE DRILLED WELL #3, 6', ' NO PUMP"', 'WL', '', 'Y', '', 'NY', 'NY5700118', 'A', '', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
894372
Length of row is: 23
['E', '02', 'I', '15-SEP-99', '28687', 'INACTIVE DRILLED WELL #3, 6', ' NO PUMP"', 'WL', '', 'Y', 'Y', 'NY', 'NY5700118', 'A', '', 'CWS', '', '', '', 'WL-02', 'Y', 'GW', '']
894379
Length of row is: 23
['P', '02', 'I', '01-DEC-98', '1', 'DRILLED WELL 6 DIA', ' 180\' DEEP"', 'WL', '', 'Y', 'U', 'NY', 'NY5701549', 'I', '01-DEC-98', 'CWS', '', '', '', '', 'Y', 'GW', '']
894521
Length of row is: 24
['P', '02', 'I', '04-OCT-05', '46005', 'DRILLED WELL #1, 6', " 450'", ' 5 HP"', 'WL', '', 'Y', 'U', 'NY', 'NY5710493', 'I', '04-OCT-05', 'NTNCWS', '', '', '', '', 'Y', 'GW', '']
894689
Length of row is: 24
['P', '02', 'A', '', '46066', '6 DIA DRILLED WELL', " 410' DEEP", ' 5HP PUMP"', 'WL', '', 'Y', 'N', 'NY', 'NY5718928', 'I', '21-OCT-99', 'NTNCWS', '', '', '', 'WL-01', 'Y', 'GW', '']
895014
Length of row is: 23
['', '06', 'A', '', '100278', 'CLOWN TANK"', ' WEST OF COAHOMA"', 'ST', '', 'N', '', 'TX', 'TX1140030', 'A', '', 'CWS', '', '', '', 'ST14338', 'Y', '', '']
1183545

In [99]:
print(result2) # maybe can read in just these lines as separate strings into a custom df

['20844', '22595', '212438', '213330', '213331', '213382', '217515', '217518', '218082', '218281', '218727', '219219', '219226', '219324', '224406', '224456', '224487', '224535', '490993', '491803', '645679', '814945', '816071', '817714', '822187', '822855', '822856', '825990', '825994', '827206', '827207', '827224', '827241', '829481', '832413', '834722', '834736', '835472', '835577', '839456', '839457', '839472', '839473', '839474', '839526', '842714', '842718', '842719', '846413', '846414', '846416', '846433', '848544', '856755', '861754', '861755', '861756', '862751', '862752', '866118', '869046', '869047', '869310', '869311', '869312', '869314', '869321', '869329', '869330', '869331', '869353', '869362', '869363', '869364', '869386', '869567', '869716', '869753', '869789', '869836', '869967', '870262', '870263', '870269', '870270', '870271', '870272', '870273', '870274', '870279', '870280', '870379', '870479', '870482', '870486', '870505', '870509', '870531', '870532', '870722', '871349', '871361', '871376', '871379', '871380', '871381', '871394', '871395', '871396', '871572', '871607', '871609', '871701', '871702', '871734', '871735', '871736', '872118', '874624', '874628', '876546', '876547', '876548', '876549', '876603', '876606', '876607', '876612', '876622', '876657', '876658', '876660', '876661', '876664', '876710', '876711', '876756', '876760', '878805', '878894', '878939', '879302', '879334', '879445', '879446', '879454', '879465', '879575', '879578', '879591', '879592', '879664', '879724', '879836', '880428', '880429', '880430', '880431', '880507', '892593', '892594', '893543', '893687', '893688', '893689', '894044', '894358', '894368', '894372', '894379', '894521', '894689', '895014', '1183545']

In [100]:
print("rows lost =",len(result2), "out of", len(DATA2.index), 
      "(", 100*round(len(result2)/(len(DATA2.index)+len(result2)), 10),"%",")")

rows lost = 174 out of 1400822 ( 0.012419739999999999 % )

In [101]:
DATA2.head(5)

,AVAILABILITY_CODE,EPA_REGION,FACILITY_ACTIVITY_CODE,FACILITY_DEACTIVATION_DATE,FACILITY_ID,FACILITY_NAME,FACILITY_TYPE_CODE,FILTRATION_STATUS_CODE,IS_SOURCE_IND,IS_SOURCE_TREATED_IND,PRIMACY_AGENCY_CODE,PWSID,PWS_ACTIVITY_CODE,PWS_DEACTIVATION_DATE,PWS_TYPE_CODE,SELLER_PWSID,SELLER_PWS_NAME,SELLER_TREATMENT_CODE,STATE_FACILITY_ID,SUBMISSION_STATUS_CODE,WATER_TYPE_CODE
0,P,1,A,NaN,100,EP WELL HOUSE,SS,NaN,N,NaN,01,010106001,A,NaN,CWS,NaN,NaN,NaN,NaN,U,GW
1,O,1,A,NaN,201,TREATMENT PLANT,TP,NaN,N,NaN,01,010106001,A,NaN,CWS,NaN,NaN,NaN,NaN,U,NaN
2,P,1,A,NaN,4,WELL #3 WELL HOUSE,WL,NaN,Y,NaN,01,010106001,A,NaN,CWS,NaN,NaN,NaN,3,U,GW
3,P,1,A,NaN,5,WELL #4 TREATMENT PLANT,WL,NaN,Y,NaN,01,010106001,A,NaN,CWS,NaN,NaN,NaN,4,U,GU
4,NaN,1,A,NaN,200,WELL HOUSE,TP,NaN,N,NaN,01,010106001,A,NaN,CWS,NaN,NaN,NaN,NaN,U,NaN

In [103]:
DATA2 = DATA2.replace('"', '', regex=True)

In [90]:
# DATA1.str.replace('[^a-zA-Z0-9]', '') #too drastic, amybe

In [104]:
fpath2 = 'C:/Users/Jim/Files/CFB/data/swdis/WATER_SYSTEM_FACILITY_clean.csv'

DATA2.to_csv(fpath2, sep="|", index=False, header=1, encoding='utf-8', quoting=csv.QUOTE_MINIMAL)

***
#### Next

In [105]:
DATA_PATH3 = 'C:/Users/Jim/Files/CFB/data/swdis/ENFORCEMENT_ACTION.csv' 

start_time = time.time()

DATA3 = pd.read_csv(DATA_PATH3, header=0, sep=',', error_bad_lines=False,
                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


# with open('C:/Users/Jim/Files/CFB/data/swdis/bad_lines.txt', 'w') as fp:
#     sys.stderr = fp
#     pd.read_csv('DATA_PATH1', sep=',', error_bad_lines=False, 
#                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


print(time.time() - start_time)

#compare length of rows by length of columns in df
lencols3 = len(DATA3.columns) + 1 #csv.reader counts 1 less for some reason
print(lencols3)

result3 = []
with open(DATA_PATH3) as csv_file:
    reader = csv.reader(csv_file, delimiter=',')
    for row in reader:
        if (len(row) > lencols3):
            print("Length of row is: %r" % len(row) )
            print(row)
            print(reader.line_num)
            result3.append(str(reader.line_num))

b'Skipping line 2780: expected 7 fields, saw 8\nSkipping line 4943: expected 7 fields, saw 8\nSkipping line 6784: expected 7 fields, saw 8\nSkipping line 7030: expected 7 fields, saw 8\nSkipping line 9079: expected 7 fields, saw 8\nSkipping line 11087: expected 7 fields, saw 8\nSkipping line 12463: expected 7 fields, saw 8\nSkipping line 21912: expected 7 fields, saw 11\nSkipping line 25245: expected 7 fields, saw 8\nSkipping line 25462: expected 7 fields, saw 9\nSkipping line 25610: expected 7 fields, saw 8\nSkipping line 25790: expected 7 fields, saw 8\nSkipping line 26205: expected 7 fields, saw 8\nSkipping line 27561: expected 7 fields, saw 14\nSkipping line 28035: expected 7 fields, saw 8\nSkipping line 32665: expected 7 fields, saw 11\nSkipping line 35567: expected 7 fields, saw 9\nSkipping line 35568: expected 7 fields, saw 13\nSkipping line 35585: expected 7 fields, saw 10\nSkipping line 35640: expected 7 fields, saw 13\nSkipping line 35648: expected 7 fields, saw 9\nSkipping line 35674: expected 7 fields, saw 9\nSkipping line 35804: expected 7 fields, saw 12\nSkipping line 35973: expected 7 fields, saw 8\nSkipping line 36853: expected 7 fields, saw 9\nSkipping line 37042: expected 7 fields, saw 10\nSkipping line 37222: expected 7 fields, saw 8\nSkipping line 37284: expected 7 fields, saw 9\nSkipping line 37373: expected 7 fields, saw 8\nSkipping line 37604: expected 7 fields, saw 8\nSkipping line 37633: expected 7 fields, saw 9\nSkipping line 37885: expected 7 fields, saw 8\nSkipping line 37905: expected 7 fields, saw 8\nSkipping line 38078: expected 7 fields, saw 8\nSkipping line 38427: expected 7 fields, saw 11\nSkipping line 38560: expected 7 fields, saw 9\nSkipping line 38735: expected 7 fields, saw 8\nSkipping line 38932: expected 7 fields, saw 12\nSkipping line 38996: expected 7 fields, saw 9\nSkipping line 39094: expected 7 fields, saw 12\nSkipping line 39180: expected 7 fields, saw 8\nSkipping line 39350: expected 7 fields, saw 8\nSkipping line 39420: expected 7 fields, saw 8\nSkipping line 39536: expected 7 fields, saw 10\nSkipping line 39663: expected 7 fields, saw 14\nSkipping line 39710: expected 7 fields, saw 9\nSkipping line 39753: expected 7 fields, saw 8\nSkipping line 39995: expected 7 fields, saw 8\nSkipping line 40043: expected 7 fields, saw 15\nSkipping line 40057: expected 7 fields, saw 8\nSkipping line 40118: expected 7 fields, saw 12\nSkipping line 40199: expected 7 fields, saw 12\nSkipping line 40747: expected 7 fields, saw 8\nSkipping line 40763: expected 7 fields, saw 13\nSkipping line 40771: expected 7 fields, saw 8\nSkipping line 40780: expected 7 fields, saw 8\nSkipping line 40795: expected 7 fields, saw 8\nSkipping line 40863: expected 7 fields, saw 9\nSkipping line 40894: expected 7 fields, saw 8\nSkipping line 40932: expected 7 fields, saw 12\nSkipping line 40948: expected 7 fields, saw 11\nSkipping line 41112: expected 7 fields, saw 9\nSkipping line 41120: expected 7 fields, saw 8\nSkipping line 41191: expected 7 fields, saw 10\nSkipping line 41220: expected 7 fields, saw 8\nSkipping line 41422: expected 7 fields, saw 8\nSkipping line 41431: expected 7 fields, saw 10\nSkipping line 41751: expected 7 fields, saw 14\nSkipping line 41820: expected 7 fields, saw 8\nSkipping line 41859: expected 7 fields, saw 9\nSkipping line 41884: expected 7 fields, saw 13\nSkipping line 42091: expected 7 fields, saw 8\nSkipping line 42756: expected 7 fields, saw 9\nSkipping line 42772: expected 7 fields, saw 8\nSkipping line 42913: expected 7 fields, saw 9\nSkipping line 43011: expected 7 fields, saw 9\nSkipping line 45601: expected 7 fields, saw 8\nSkipping line 46338: expected 7 fields, saw 8\nSkipping line 46406: expected 7 fields, saw 9\nSkipping line 46427: expected 7 fields, saw 9\nSkipping line 46443: expected 7 fields, saw 8\nSkipping line 46593: expected 7 fields, saw 9\nSkipping line 46681: expected 7 fields, saw 9\nSkipping line 46813: expected 7 fields, saw 8\nSkipping line 46991: expected 7 fields, saw 9\nSkipping line 47011: expected 7 fields, saw 10\nSkipping line 47250: expected 7 fields, saw 9\nSkipping line 47253: expected 7 fields, saw 9\nSkipping line 70786: expected 7 fields, saw 10\nSkipping line 86491: expected 7 fields, saw 8\nSkipping line 90321: expected 7 fields, saw 8\nSkipping line 171186: expected 7 fields, saw 8\nSkipping line 171187: expected 7 fields, saw 9\nSkipping line 171188: expected 7 fields, saw 8\nSkipping line 172893: expected 7 fields, saw 8\nSkipping line 176177: expected 7 fields, saw 8\nSkipping line 304952: expected 7 fields, saw 8\nSkipping line 306336: expected 7 fields, saw 8\nSkipping line 329902: expected 7 fields, saw 8\nSkipping line 359215: expected 7 fields, saw 9\nSkipping line 382559: expected 7 fields, saw 9\nSkipping line 388896: expected 7 fields, saw 9\nSkipping line 390882: expected 7 fields, saw 8\nSkipping line 391456: expected 7 fields, saw 8\nSkipping line 391776: expected 7 fields, saw 8\nSkipping line 394461: expected 7 fields, saw 10\nSkipping line 401080: expected 7 fields, saw 8\nSkipping line 401918: expected 7 fields, saw 10\nSkipping line 403223: expected 7 fields, saw 8\nSkipping line 403521: expected 7 fields, saw 10\nSkipping line 407080: expected 7 fields, saw 8\nSkipping line 412668: expected 7 fields, saw 10\nSkipping line 423388: expected 7 fields, saw 10\nSkipping line 425819: expected 7 fields, saw 10\nSkipping line 427163: expected 7 fields, saw 8\nSkipping line 429447: expected 7 fields, saw 27\nSkipping line 429964: expected 7 fields, saw 17\nSkipping line 431478: expected 7 fields, saw 11\nSkipping line 443601: expected 7 fields, saw 8\nSkipping line 445750: expected 7 fields, saw 9\nSkipping line 446477: expected 7 fields, saw 8\nSkipping line 447675: expected 7 fields, saw 10\nSkipping line 448850: expected 7 fields, saw 9\nSkipping line 452514: expected 7 fields, saw 9\nSkipping line 457765: expected 7 fields, saw 8\nSkipping line 460857: expected 7 fields, saw 12\nSkipping line 472043: expected 7 fields, saw 8\nSkipping line 472205: expected 7 fields, saw 8\nSkipping line 473838: expected 7 fields, saw 8\nSkipping line 474236: expected 7 fields, saw 8\nSkipping line 474305: expected 7 fields, saw 8\nSkipping line 474307: expected 7 fields, saw 8\nSkipping line 474509: expected 7 fields, saw 9\nSkipping line 474950: expected 7 fields, saw 8\nSkipping line 475200: expected 7 fields, saw 8\nSkipping line 475239: expected 7 fields, saw 8\nSkipping line 475381: expected 7 fields, saw 8\nSkipping line 506124: expected 7 fields, saw 8\nSkipping line 516501: expected 7 fields, saw 11\nSkipping line 567496: expected 7 fields, saw 8\nSkipping line 570919: expected 7 fields, saw 8\nSkipping line 575524: expected 7 fields, saw 8\nSkipping line 575525: expected 7 fields, saw 8\nSkipping line 575527: expected 7 fields, saw 8\nSkipping line 575549: expected 7 fields, saw 8\nSkipping line 575749: expected 7 fields, saw 9\nSkipping line 576020: expected 7 fields, saw 8\nSkipping line 576892: expected 7 fields, saw 9\nSkipping line 577438: expected 7 fields, saw 8\nSkipping line 578074: expected 7 fields, saw 8\nSkipping line 583060: expected 7 fields, saw 9\nSkipping line 583706: expected 7 fields, saw 8\nSkipping line 584485: expected 7 fields, saw 8\nSkipping line 587668: expected 7 fields, saw 8\nSkipping line 598612: expected 7 fields, saw 10\nSkipping line 601526: expected 7 fields, saw 8\nSkipping line 609216: expected 7 fields, saw 8\nSkipping line 611447: expected 7 fields, saw 8\nSkipping line 710074: expected 7 fields, saw 10\nSkipping line 710442: expected 7 fields, saw 15\nSkipping line 710443: expected 7 fields, saw 8\nSkipping line 710630: expected 7 fields, saw 10\nSkipping line 712332: expected 7 fields, saw 20\nSkipping line 712335: expected 7 fields, saw 9\nSkipping line 713898: expected 7 fields, saw 14\nSkipping line 713899: expected 7 fields, saw 8\nSkipping line 714669: expected 7 fields, saw 11\nSkipping line 714676: expected 7 fields, saw 9\nSkipping line 714687: expected 7 fields, saw 9\nSkipping line 715572: expected 7 fields, saw 8\nSkipping line 716329: expected 7 fields, saw 10\nSkipping line 716332: expected 7 fields, saw 12\nSkipping line 717001: expected 7 fields, saw 12\nSkipping line 717866: expected 7 fields, saw 12\nSkipping line 717868: expected 7 fields, saw 18\nSkipping line 718008: expected 7 fields, saw 11\nSkipping line 718070: expected 7 fields, saw 8\nSkipping line 718382: expected 7 fields, saw 13\nSkipping line 718386: expected 7 fields, saw 16\nSkipping line 718388: expected 7 fields, saw 11\nSkipping line 718424: expected 7 fields, saw 10\nSkipping line 718684: expected 7 fields, saw 10\nSkipping line 719009: expected 7 fields, saw 9\nSkipping line 719385: expected 7 fields, saw 10\nSkipping line 719391: expected 7 fields, saw 9\nSkipping line 719393: expected 7 fields, saw 9\nSkipping line 719401: expected 7 fields, saw 13\nSkipping line 720528: expected 7 fields, saw 8\nSkipping line 720854: expected 7 fields, saw 10\nSkipping line 720857: expected 7 fields, saw 8\nSkipping line 720974: expected 7 fields, saw 8\nSkipping line 721071: expected 7 fields, saw 9\nSkipping line 721138: expected 7 fields, saw 8\nSkipping line 721143: expected 7 fields, saw 8\nSkipping line 721405: expected 7 fields, saw 10\nSkipping line 721408: expected 7 fields, saw 8\nSkipping line 721615: expected 7 fields, saw 10\nSkipping line 721620: expected 7 fields, saw 10\nSkipping line 722195: expected 7 fields, saw 17\nSkipping line 722576: expected 7 fields, saw 11\nSkipping line 722582: expected 7 fields, saw 12\nSkipping line 723201: expected 7 fields, saw 13\nSkipping line 723215: expected 7 fields, saw 11\nSkipping line 723519: expected 7 fields, saw 8\nSkipping line 724021: expected 7 fields, saw 11\nSkipping line 724203: expected 7 fields, saw 12\nSkipping line 724205: expected 7 fields, saw 10\nSkipping line 725340: expected 7 fields, saw 11\nSkipping line 725344: expected 7 fields, saw 10\nSkipping line 725347: expected 7 fields, saw 13\nSkipping line 725352: expected 7 fields, saw 9\nSkipping line 726889: expected 7 fields, saw 13\nSkipping line 727796: expected 7 fields, saw 13\nSkipping line 727801: expected 7 fields, saw 10\nSkipping line 727873: expected 7 fields, saw 11\nSkipping line 727884: expected 7 fields, saw 14\nSkipping line 727885: expected 7 fields, saw 13\nSkipping line 727899: expected 7 fields, saw 13\nSkipping line 728277: expected 7 fields, saw 8\nSkipping line 728281: expected 7 fields, saw 8\nSkipping line 728552: expected 7 fields, saw 12\nSkipping line 728588: expected 7 fields, saw 17\nSkipping line 728589: expected 7 fields, saw 16\nSkipping line 728879: expected 7 fields, saw 10\nSkipping line 728912: expected 7 fields, saw 14\nSkipping line 728914: expected 7 fields, saw 8\nSkipping line 729037: expected 7 fields, saw 12\nSkipping line 729052: expected 7 fields, saw 11\nSkipping line 729057: expected 7 fields, saw 10\nSkipping line 729123: expected 7 fields, saw 10\nSkipping line 729416: expected 7 fields, saw 11\nSkipping line 729419: expected 7 fields, saw 8\nSkipping line 729563: expected 7 fields, saw 10\nSkipping line 729565: expected 7 fields, saw 12\nSkipping line 729587: expected 7 fields, saw 10\nSkipping line 729969: expected 7 fields, saw 10\nSkipping line 730431: expected 7 fields, saw 8\nSkipping line 730449: expected 7 fields, saw 8\nSkipping line 730458: expected 7 fields, saw 11\nSkipping line 730476: expected 7 fields, saw 8\nSkipping line 730509: expected 7 fields, saw 15\nSkipping line 730520: expected 7 fields, saw 13\nSkipping line 730752: expected 7 fields, saw 8\nSkipping line 731854: expected 7 fields, saw 10\nSkipping line 731856: expected 7 fields, saw 16\nSkipping line 732094: expected 7 fields, saw 14\nSkipping line 732566: expected 7 fields, saw 8\nSkipping line 732802: expected 7 fields, saw 8\nSkipping line 732803: expected 7 fields, saw 9\nSkipping line 732905: expected 7 fields, saw 10\nSkipping line 733279: expected 7 fields, saw 8\nSkipping line 733865: expected 7 fields, saw 8\nSkipping line 734376: expected 7 fields, saw 11\nSkipping line 734823: expected 7 fields, saw 15\nSkipping line 734824: expected 7 fields, saw 8\nSkipping line 734899: expected 7 fields, saw 8\nSkipping line 734914: expected 7 fields, saw 9\nSkipping line 734919: expected 7 fields, saw 13\nSkipping line 734928: expected 7 fields, saw 12\nSkipping line 735264: expected 7 fields, saw 13\nSkipping line 735272: expected 7 fields, saw 9\nSkipping line 735707: expected 7 fields, saw 11\nSkipping line 735708: expected 7 fields, saw 11\nSkipping line 735767: expected 7 fields, saw 11\nSkipping line 737176: expected 7 fields, saw 10\nSkipping line 738659: expected 7 fields, saw 9\nSkipping line 738661: expected 7 fields, saw 15\nSkipping line 738826: expected 7 fields, saw 11\nSkipping line 738848: expected 7 fields, saw 11\nSkipping line 738946: expected 7 fields, saw 13\nSkipping line 739072: expected 7 fields, saw 9\nSkipping line 739196: expected 7 fields, saw 9\nSkipping line 739197: expected 7 fields, saw 12\nSkipping line 739203: expected 7 fields, saw 9\nSkipping line 739206: expected 7 fields, saw 11\nSkipping line 739211: expected 7 fields, saw 9\nSkipping line 739215: expected 7 fields, saw 8\nSkipping line 739298: expected 7 fields, saw 19\nSkipping line 739517: expected 7 fields, saw 9\nSkipping line 739519: expected 7 fields, saw 14\nSkipping line 739543: expected 7 fields, saw 8\nSkipping line 739554: expected 7 fields, saw 15\nSkipping line 739635: expected 7 fields, saw 14\nSkipping line 740453: expected 7 fields, saw 11\nSkipping line 740651: expected 7 fields, saw 8\nSkipping line 741355: expected 7 fields, saw 11\nSkipping line 741603: expected 7 fields, saw 8\nSkipping line 741684: expected 7 fields, saw 10\nSkipping line 741691: expected 7 fields, saw 12\nSkipping line 742142: expected 7 fields, saw 12\nSkipping line 742157: expected 7 fields, saw 8\nSkipping line 742170: expected 7 fields, saw 9\nSkipping line 742183: expected 7 fields, saw 11\nSkipping line 743179: expected 7 fields, saw 14\nSkipping line 743193: expected 7 fields, saw 11\nSkipping line 744594: expected 7 fields, saw 9\nSkipping line 744597: expected 7 fields, saw 16\nSkipping line 745478: expected 7 fields, saw 12\nSkipping line 745484: expected 7 fields, saw 13\nSkipping line 747358: expected 7 fields, saw 9\nSkipping line 747509: expected 7 fields, saw 13\nSkipping line 747594: expected 7 fields, saw 9\nSkipping line 748397: expected 7 fields, saw 8\nSkipping line 748589: expected 7 fields, saw 11\nSkipping line 748593: expected 7 fields, saw 9\nSkipping line 748676: expected 7 fields, saw 8\nSkipping line 749514: expected 7 fields, saw 13\nSkipping line 749867: expected 7 fields, saw 12\nSkipping line 750243: expected 7 fields, saw 8\nSkipping line 752455: expected 7 fields, saw 10\nSkipping line 752460: expected 7 fields, saw 9\nSkipping line 752684: expected 7 fields, saw 18\nSkipping line 752694: expected 7 fields, saw 9\nSkipping line 752729: expected 7 fields, saw 9\nSkipping line 752741: expected 7 fields, saw 13\nSkipping line 752752: expected 7 fields, saw 8\nSkipping line 752762: expected 7 fields, saw 10\nSkipping line 753741: expected 7 fields, saw 10\nSkipping line 753828: expected 7 fields, saw 9\nSkipping line 754138: expected 7 fields, saw 12\nSkipping line 754170: expected 7 fields, saw 8\nSkipping line 754599: expected 7 fields, saw 14\nSkipping line 754617: expected 7 fields, saw 8\nSkipping line 755252: expected 7 fields, saw 8\nSkipping line 755512: expected 7 fields, saw 16\nSkipping line 755531: expected 7 fields, saw 11\nSkipping line 755547: expected 7 fields, saw 9\nSkipping line 755568: expected 7 fields, saw 9\nSkipping line 755968: expected 7 fields, saw 11\nSkipping line 755987: expected 7 fields, saw 8\nSkipping line 755988: expected 7 fields, saw 9\nSkipping line 756177: expected 7 fields, saw 16\nSkipping line 756178: expected 7 fields, saw 10\nSkipping line 756205: expected 7 fields, saw 13\nSkipping line 756206: expected 7 fields, saw 10\nSkipping line 756602: expected 7 fields, saw 12\nSkipping line 757113: expected 7 fields, saw 10\nSkipping line 757124: expected 7 fields, saw 12\nSkipping line 757142: expected 7 fields, saw 8\nSkipping line 757144: expected 7 fields, saw 12\nSkipping line 757157: expected 7 fields, saw 11\nSkipping line 757678: expected 7 fields, saw 12\nSkipping line 758087: expected 7 fields, saw 8\nSkipping line 758091: expected 7 fields, saw 13\nSkipping line 758756: expected 7 fields, saw 11\nSkipping line 758759: expected 7 fields, saw 9\nSkipping line 758973: expected 7 fields, saw 10\nSkipping line 758974: expected 7 fields, saw 12\nSkipping line 759100: expected 7 fields, saw 12\nSkipping line 759102: expected 7 fields, saw 12\nSkipping line 760331: expected 7 fields, saw 15\nSkipping line 760334: expected 7 fields, saw 13\nSkipping line 762527: expected 7 fields, saw 14\nSkipping line 762532: expected 7 fields, saw 10\nSkipping line 762583: expected 7 fields, saw 18\nSkipping line 762971: expected 7 fields, saw 9\nSkipping line 762972: expected 7 fields, saw 11\nSkipping line 763383: expected 7 fields, saw 8\nSkipping line 763696: expected 7 fields, saw 12\nSkipping line 763699: expected 7 fields, saw 8\nSkipping line 763700: expected 7 fields, saw 9\nSkipping line 765102: expected 7 fields, saw 10\nSkipping line 765260: expected 7 fields, saw 10\nSkipping line 765459: expected 7 fields, saw 9\nSkipping line 765735: expected 7 fields, saw 9\nSkipping line 765748: expected 7 fields, saw 9\nSkipping line 766906: expected 7 fields, saw 10\nSkipping line 766909: expected 7 fields, saw 8\nSkipping line 767069: expected 7 fields, saw 9\nSkipping line 767080: expected 7 fields, saw 8\nSkipping line 767085: expected 7 fields, saw 8\nSkipping line 767147: expected 7 fields, saw 9\nSkipping line 767170: expected 7 fields, saw 13\nSkipping line 767174: expected 7 fields, saw 8\nSkipping line 767216: expected 7 fields, saw 8\nSkipping line 767249: expected 7 fields, saw 12\nSkipping line 767325: expected 7 fields, saw 12\nSkipping line 767332: expected 7 fields, saw 11\nSkipping line 767333: expected 7 fields, saw 9\nSkipping line 767440: expected 7 fields, saw 15\nSkipping line 767563: expected 7 fields, saw 18\nSkipping line 767564: expected 7 fields, saw 17\nSkipping line 767590: expected 7 fields, saw 8\nSkipping line 768162: expected 7 fields, saw 8\nSkipping line 768166: expected 7 fields, saw 9\nSkipping line 768427: expected 7 fields, saw 8\nSkipping line 768428: expected 7 fields, saw 9\nSkipping line 768835: expected 7 fields, saw 13\nSkipping line 866468: expected 7 fields, saw 8\nSkipping line 915417: expected 7 fields, saw 8\nSkipping line 1151188: expected 7 fields, saw 9\nSkipping line 1178609: expected 7 fields, saw 8\nSkipping line 1178623: expected 7 fields, saw 8\nSkipping line 1178675: expected 7 fields, saw 11\nSkipping line 1184796: expected 7 fields, saw 11\nSkipping line 1195050: expected 7 fields, saw 9\nSkipping line 1219169: expected 7 fields, saw 17\nSkipping line 1224766: expected 7 fields, saw 9\nSkipping line 1270641: expected 7 fields, saw 14\nSkipping line 1270897: expected 7 fields, saw 8\nSkipping line 1270961: expected 7 fields, saw 8\nSkipping line 1271254: expected 7 fields, saw 8\nSkipping line 1271941: expected 7 fields, saw 8\nSkipping line 1272263: expected 7 fields, saw 10\nSkipping line 1273002: expected 7 fields, saw 8\nSkipping line 1273017: expected 7 fields, saw 8\nSkipping line 1274018: expected 7 fields, saw 8\nSkipping line 1274019: expected 7 fields, saw 8\nSkipping line 1274707: expected 7 fields, saw 9\nSkipping line 1274939: expected 7 fields, saw 8\nSkipping line 1275077: expected 7 fields, saw 9\nSkipping line 1275098: expected 7 fields, saw 8\nSkipping line 1280690: expected 7 fields, saw 8\nSkipping line 1302837: expected 7 fields, saw 8\nSkipping line 1

4.141723394393921
7
Length of row is: 8
['EFR', "Note: This is a repeat entry of a prior ENF action, made to address data issue (addressing action not appearing in the ETT following original action entry.) This entry duplicates only the entries for the violation ID's listed as associated", ' below. Other entries were properly reflected in the ETT report.', '03-AUG-09', '10131', 'R', '083090041', '']
2780
Length of row is: 8
['EIC', 'Stopped by to see Mr. Pulver and provide an EPA pamphlet Small Systems Guide to the Total Coliform Rule" to assist them in selecting TCR sites', ' creating a plan and monitoring. I previously initiated the beginnings of a sample siting plan with assistance"', '27-DEC-11', '0400090IC12/27/2011', 'R', '090400090', '']
4943
Length of row is: 8
['EIC', 'Nicholas Silides: On this day, Circuit Rider Nick Silides met with SCUA Administrator, Jeffrey Porter. They discussed Cutter and Gilson Wash drinking water bacteriological results. Both PWS\'s had results of presence" for Total Coliforms. As a result', ' two"', '14-JUN-16', '0400236IC6/14/2016', 'R', '090400236', '']
6784
Length of row is: 8
['EIC', 'Nicholas Silides: On this day, Circuit Rider Nick Silides met with SCUA Administrator, Jeffrey Porter. They discussed Cutter and Gilson Wash drinking water bacteriological results. Both PWS\'s had results of presence" for Total Coliforms. As a result', ' two"', '14-JUN-16', '0400239IC6/14/2016', 'R', '090400239', '']
7030
Length of row is: 8
['EIC', 'Gerard Charnholm: Circuit rider Jay Charnholm spent the day with Russ Avery to help determine how to fix an 18 watermain break', ' the WMATUA does not have the resources to keep a large inventory on hand for replacement parts and when the utility had an 18""', '27-OCT-11', '0400693IC10/27/2011', 'R', '090400693', '']
9079
Length of row is: 8
['EIC', 'Leon Schegg: On April 5, 2016 CR Lee Schegg met with Hopland Rancheria EPA Director Terri McCartney, Lead Operator Steve Elliott and Operator in training Ernest Goose" Elliot.  Lee informed Goose of training opportunities from RCAC', ' reviewed with Steve t"', '05-APR-16', '0600133IC4/5/2016', 'R', '090600133', '']
11087

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 607: character maps to <undefined>

In [106]:
print(result3) # maybe can read in just these lines as separate strings into a custom df

['2780', '4943', '6784', '7030', '9079', '11087']

In [107]:
print("rows lost =",len(result3), "out of", len(DATA3.index), 
      "(", 100*round(len(result3)/(len(DATA3.index)+len(result3)), 10),"%",")")

rows lost = 6 out of 2324001 ( 0.00025817 % )

In [108]:
DATA3.head(5)

,ENFORCEMENT_ACTION_TYPE_CODE,ENFORCEMENT_COMMENT_TEXT,ENFORCEMENT_DATE,ENFORCEMENT_ID,ORIGINATOR_CODE,PWSID
0,EIF,Received the tribe's CCR which contained the P...,30-JUN-17,0106001IF06301722887,R,010106001
1,EOX,Received SOC results from lab.,03-AUG-17,0106001OX08031722922,R,010106001
2,EOX,Received SOC results from lab.,03-AUG-17,0106001OX08031722923,R,010106001
3,EOX,Received SOC results from lab.,03-AUG-17,0106001OX08031722924,R,010106001
4,EOX,Received SOC results from lab.,03-AUG-17,0106001OX08031722925,R,010106001

In [110]:
DATA3 = DATA3.replace('"', '', regex=True)

In [111]:
# DATA1.str.replace('[^a-zA-Z0-9]', '') #too drastic, amybe

In [112]:
fpath3 = 'C:/Users/Jim/Files/CFB/data/swdis/ENFORCEMENT_ACTION_clean.csv'

DATA3.to_csv(fpath3, sep="|", index=False, header=1, encoding='utf-8', quoting=csv.QUOTE_MINIMAL)

***
#### Next

In [116]:
DATA_PATH4 = 'C:/Users/Jim/Files/CFB/data/swdis/TREATMENT.csv' 

start_time = time.time()

DATA4 = pd.read_csv(DATA_PATH4, header=0, sep=',', error_bad_lines=False,
                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


# with open('C:/Users/Jim/Files/CFB/data/swdis/bad_lines.txt', 'w') as fp:
#     sys.stderr = fp
#     pd.read_csv('DATA_PATH1', sep=',', error_bad_lines=False, 
#                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


print(time.time() - start_time)

#compare length of rows by length of columns in df
lencols4 = len(DATA4.columns) + 1 #csv.reader counts 1 less for some reason
print(lencols4)

result4 = []
with open(DATA_PATH4) as csv_file:
    reader = csv.reader(csv_file, delimiter=',')
    for row in reader:
        if (len(row) > lencols4):
            print("Length of row is: %r" % len(row) )
            print(row)
            print(reader.line_num)
            result4.append(str(reader.line_num))

b'Skipping line 141507: expected 7 fields, saw 10\nSkipping line 398435: expected 7 fields, saw 8\nSkipping line 400968: expected 7 fields, saw 8\n'

1.0162832736968994
7
Length of row is: 10
['2 Z" FILTERS IN SERIES', ' WATER-RIGHT', ' MODEL WR157446', ' 30 GPM"', '2', 'MA4052018', '6', 'P', '348', '']
141507
Length of row is: 8
['Per C. Czarkowski 05/23/2014 e-mail, system has been chlorinating since day one."  We don\'t know why chlorination was not entered originally.  Correcting the dates at this point would only cause issues with the requirements', ' so we are leaving the dates as they are."', '1T', 'WI2680833', '421D', 'D', '421', '']
398435
Length of row is: 8
['Sodium Silicate addition actually started in December of 2002; According to Mark Nelson, The results from 1993 to 2002 are not significantly different than the results from 2002 to the present.  It appears we do not need to consider this to be a corrosion-inhibiting process.  Therefore', ' this treatment would not need a plan approval at this time.""', '200T', 'WI4450571', '449C', 'C', '449', '']
400968

In [117]:
print(result4) # maybe can read in just these lines as separate strings into a custom df

['141507', '398435', '400968']

In [118]:
print("rows lost =",len(result4), "out of", len(DATA4.index), 
      "(", 100*round(len(result4)/(len(DATA4.index)+len(result4)), 10),"%",")")

rows lost = 3 out of 411753 ( 0.00072859 % )

In [119]:
DATA4.head(5)

,COMMENTS_TEXT,FACILITY_ID,PWSID,TREATMENT_ID,TREATMENT_OBJECTIVE_CODE,TREATMENT_PROCESS_CODE
0,NaN,200,010106001,2,C,447.0
1,"HYPOCHLORINATION, POST",2,010106001,7,D,421.0
2,NaN,200,010106001,1,D,421.0
3,NaN,201,010106001,15,C,447.0
4,NaN,201,010106001,16,C,740.0

In [120]:
DATA4 = DATA4.replace('"', '', regex=True)

In [111]:
# DATA1.str.replace('[^a-zA-Z0-9]', '') #too drastic, amybe

In [121]:
fpath4 = 'C:/Users/Jim/Files/CFB/data/swdis/TREATMENT_clean.csv'

DATA4.to_csv(fpath4, sep="|", index=False, header=1, encoding='utf-8', quoting=csv.QUOTE_MINIMAL)

***
#### Next

In [122]:
DATA_PATH5 = 'C:/Users/Jim/Files/CFB/data/swdis/VIOLATION.csv' 

start_time = time.time()

DATA5 = pd.read_csv(DATA_PATH5, header=0, sep=',', error_bad_lines=False,
                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


# with open('C:/Users/Jim/Files/CFB/data/swdis/bad_lines.txt', 'w') as fp:
#     sys.stderr = fp
#     pd.read_csv('DATA_PATH1', sep=',', error_bad_lines=False, 
#                         dtype={0:'str'}, quotechar='"', low_memory=False, index_col=False)


print(time.time() - start_time)

#compare length of rows by length of columns in df
lencols5 = len(DATA5.columns) + 1 #csv.reader counts 1 less for some reason
print(lencols5)

result5 = []
with open(DATA_PATH5) as csv_file:
    reader = csv.reader(csv_file, delimiter=',')
    for row in reader:
        if (len(row) > lencols5):
            print("Length of row is: %r" % len(row) )
            print(row)
            print(reader.line_num)
            result5.append(str(reader.line_num))

17.735018491744995
34

In [117]:
print(result4) # maybe can read in just these lines as separate strings into a custom df

['141507', '398435', '400968']

In [118]:
print("rows lost =",len(result4), "out of", len(DATA4.index), 
      "(", 100*round(len(result4)/(len(DATA4.index)+len(result4)), 10),"%",")")

rows lost = 3 out of 411753 ( 0.00072859 % )

In [119]:
DATA4.head(5)

,COMMENTS_TEXT,FACILITY_ID,PWSID,TREATMENT_ID,TREATMENT_OBJECTIVE_CODE,TREATMENT_PROCESS_CODE
0,NaN,200,010106001,2,C,447.0
1,"HYPOCHLORINATION, POST",2,010106001,7,D,421.0
2,NaN,200,010106001,1,D,421.0
3,NaN,201,010106001,15,C,447.0
4,NaN,201,010106001,16,C,740.0

In [120]:
DATA4 = DATA4.replace('"', '', regex=True)

In [111]:
# DATA1.str.replace('[^a-zA-Z0-9]', '') #too drastic, amybe

In [121]:
fpath4 = 'C:/Users/Jim/Files/CFB/data/swdis/TREATMENT_clean.csv'

DATA4.to_csv(fpath4, sep="|", index=False, header=1, encoding='utf-8', quoting=csv.QUOTE_MINIMAL)

***
#### Notes/examples for SQL in postgreSQL:

SELECT * FROM sdwis.water_system<br>
WHERE pwsid = 'IL3116830'